[2014-11-02 21:33] flosse opened #1 "please update chokidar dependency"
I'd like to use webpack on nixos but `chokidar@0.8.x` causes errors (see https://github.com/NixOS/nixpkgs/pull/4734#issuecomment-61423318).

[2014-11-02 22:51] #1 closed, assigned to nobody

[2014-12-06 22:42] STRML opened #2 "Uses a ton of CPU in polling mode"
Hi,

I'm developing an app and switching over to using Docker containers for some of it. Since I'm running OS X, I'm running Docker in Vagrant and using NFS to share my working directory, then building containers from the code in that directory.

It can be difficult to find a file watcher that works properly over NFS. Nodemon fails, pm2 eats up CPU, but [node-supervisor](https://github.com/isaacs/

[2015-03-25 02:44] wbinnssmith opened #3 "Passing options to chokidar (watching broken over NFS)"
Similar to [watchify#162](https://github.com/substack/watchify/issues/162), I believe it would be best to allow the user to pass chokidar options to watchpack. Without the ability to opt into `usePolling`, webpack's watching is unresponsive when watching files mounted over NFS (which can't implement inotify/fsevents or the like). I imagine that adjusting the poll frequency would be great too. If t

[2015-03-25 12:48] zertosh commented on #3
@sokra I think it'd be helpful to the community if we (watchify and watchpack) implemented the same interface for passing options to chokidar. My guess is that with everyone moving apps into containers, this NFS issue is going to keep popping up. I'd appreciate your input on https://github.com/substack/watchify/issues/162

[2015-04-14 06:10] Coobaha opened #6 "require.context watch"
I am creating context with require.context and then if I delete one of the files - context still have file in keys

[code]

then i do `touch ./app/initializers/module.js` - webpack adds lt to bundle

[code]

then `rm ./app/initializers/module.js`
all looks good:

[code]

but on next rebuild I am getting warning

[code]

the problem is that `./module.js` is still in the keys of the context.

as a w

[2015-04-16 09:51] SevereOverfl0w commented on #3
substack/watchify#162 is now closed. Will something similar be used in webpack?

[2015-05-01 01:19] KhoaSydney opened #8 "Webpack with Kendo UI"
Hi soka,

Recently, I switched from requirejs to webpack and I really like what webpack offers. When I integrate Kendo UI with webpack, it gives me error (tt is undefined) during webpack build. I did some research and it turned out that Webpack does not work well with the *.min.js file (minified). I'm currently using the trial version of Kendo UI which only offers minified file of their product. I

[2015-05-02 16:31] sokra commented on #8
I don't know. You can ask the Kendo UI authors. There is propably a way to make it work. See http://webpack.github.io/docs/shimming-modules.html

[2015-05-04 01:58] KhoaSydney commented on #8
Thanks Sokra. This is how I fixed the issue in case other people who face this same issue.

I just included `kendo.all.min.js`  and tell webpack not to parse it. e.g `noParse['path to the file']`

[2015-05-07 08:29] KhoaSydney commented on #8
@sokra Is there any way to load libraries in particular order? For example, in order to use angular data binding with kendo, the following scripts must be loading in the following order:

1.<script src="jquery.js"></script>
2 .<script src="angular.js"></script>
3. <script src="kendo.all.js"></script>

cheers,

[2015-05-10 11:00] #3 closed

[2015-05-10 13:33] SpaceK33z commented on #3
Is it possible to use the `poll` configuration option from the command line? E.g. `webpack --watch --poll`?

[2015-05-19 03:38] ahfarmer opened #9 "onFileAdded: cannot read property 'mtime' of undefined"
I get this error occasionally in `onFileAdded` when using webpack `compiler.watch`. I haven't been able to track down an exact repro.

[code]

I wonder if it might be related to this commit?
https://github.com/webpack/watchpack/commit/9681996a1ce5d58036f188557055fb7ac109246d

I see that chokidar is supposed to always provide the `stat` value, so I don't see how this could happen. Maybe it is a pro

[2015-05-23 21:52] sokra commented on #9
@es128

[2015-05-23 22:48] es128 commented on #9
Using the `alwaysStat` option should ensure the results of `fs.stat` are always passed with events. Maybe `fs.stat` failed to provide a stat object? Unfortunately without a repro case I don't think I have any other insight about this.

[2015-05-23 22:52] es128 commented on #9
Chokidar doesn't validate the results from `fs.stat`, just passes it along. You may be experiencing a race condition here with the file disappearing between operations or something like that. Probably best to just handle the case where `stat` is `undefined`

https://github.com/paulmillr/chokidar/blob/master/index.js#L143-L146

[2015-05-24 00:14] ahfarmer commented on #9
@sokra would you accept a pull request in which I check if stat is undefined before accessing stat.mtime? If stat is undefined, I'll pass null as the 2nd argument to setFileTime.

[2015-05-24 00:37] sokra commented on #9
@es128 chokidar doesn't check the `error` parameter [here](https://github.com/paulmillr/chokidar/blob/master/index.js#L143-L146). Is this intended? Should be expected that chokidar gives use no stats object? Or should chokidar supress the event instead (or convert it to a `removed` event)?

[2015-05-24 00:46] es128 commented on #9
@sokra this particular stat call is just sort of tacked on to support `alwaysStat` - it does not currently impact any other behavior. Since chokidar does not eagerly `stat` files by default, this feature was added as a convenience so implementations wouldn't all need similar logic checking whether `stat` was passed and doing their own `fs.stat` if not.

Your suggestion may be feasible, but it has

[2015-06-03 22:29] ahfarmer commented on #9
If it helps, I do have a consistent reproduction of this issue now: https://gist.github.com/ahfarmer/fd0ddeb1692dc11cda80

Just download the gist, `npm install`, then `npm run start`. You'll see it printing `Stats is undefined.` repeatedly, and then you can look in `index.js` to see that `stats` is indeed undefined. **Mac only**

@es128 maybe we could add a note to the docs saying that `alwaysStat

[2015-06-03 22:40] es128 commented on #9
Actually I'm thinking it does make sense to change chokidar's behavior here to simply suppress the event in this situation.

I'm assuming there's no need to convert it to an `unlink` event as that will still separately be reported by the system and responded to by chokidar.

@ahfarmer can you try a simple patch at https://github.com/paulmillr/chokidar/blob/master/index.js#L143-L146 that does somet

[2015-06-03 23:09] ahfarmer commented on #9
Nice! I think suppressing the event sounds like a good call to me.

Just tried it. My issue is resolved when I add your code verbatim as line 145:

    fs.stat(path, function(error, stats) {
      if (error || !stats) return;
      ...

What's the next step? Do you need anything else from me?

[2015-06-03 23:11] es128 commented on #9
Up to you if you want to PR it and get your name in the chokidar commit history :)

Otherwise I'll take care of it shortly.

[2015-06-03 23:27] ahfarmer commented on #9
Oooo, ok, I've submitted a PR: https://github.com/paulmillr/chokidar/pull/299

[2015-06-04 13:24] es128 commented on #9
Landed and published in chokidar@1.0.3.

@sokra you should be able to close this issue.

[2015-06-14 18:15] mikepb opened #11 "Watchpack ignores aggregate timeout and always polls the CPU at 100%"
Watchpack uses `this.aggregateTimeout` to hold both the `setTimeout()` return value and the `options.aggregateTimeout` value, thus ignoring the option all together. This causes 100% CPU polling reported in #2

https://github.com/webpack/watchpack/blob/3f5ec9863c36dbee8b5e3d9a2a730c1f3d02b993/lib/watchpack.js#L21

See also [lodash.debounce](https://www.npmjs.com/package/lodash.debounce) for a relia

[2015-06-14 18:31] mikepb commented on #11
Nevermind, just saw that `this.options.aggregateTimeout` is used and not `this.aggregateTimeout`. Watch still pegs the cpu at 100%...

[2015-06-14 18:31] #11 closed

[2015-06-14 19:00] mikepb commented on #2
On OS X, a profiler run shows that the majority of CPU is spent in the kernel:

[code]

Much of this time is spent context switching between the kernel and the application.

[2015-06-20 06:24] #9 closed

[2015-07-02 09:14] tony opened #12 "Tests fail on FreeBSD 10"
I'm investigating an issue with two upstream packages, https://github.com/gaearon/react-hot-loader and https://github.com/webpack/webpack-dev-server with this symptom:
- I can save a file once, a file change will be detected.
- I can edit the file again, and the subsequent change won't be detected.

Package cloned from https://github.com/webpack/watchpack/releases/tag/v0.2.8.

[code]

System:

[co

[2015-07-02 09:27] tony commented on #12
It seems this could be an OS issue.  FreeBSD's file watching utilities (kqueue) are different than OSX, Linux, etc.

I checked on another OS (Ubuntu 15.04 Vivid) I do not have these symptoms on https://github.com/gaearon/react-hot-loader and https://github.com/webpack/webpack-dev-server and the tests complete fine.

[2015-07-03 07:36] tony commented on #12
Greetings. I think we should keep this issue open, it's a real bug - the blocker is upstream.

https://github.com/paulmillr/chokidar/issues/309

This fits in with the test errors above in watchpack and the behavior I experience when using watchpack.

[2015-07-16 20:03] kentcdodds opened #13 "Update async?"
Perhaps there's something I should/could be doing to avoid this. If so, let me know. But I just updated to the latest version of `async` (`1.3.0`) and I'm now getting this:

I'd like to avoid the noise of these warnings. Is there any issue with updating the dependency to be `^0.9.0 || ^1.x` so I can upgrade without having the warnings?

linked issues: https://github.com/webpack/source-map-loader/i

[2015-07-21 18:12] gajus opened #14 "npm test fails on OSX"
ProductName:    Mac OS X
ProductVersion: 10.10.4
BuildVersion:   14E17e

[code]

[2015-08-25 07:42] istr opened #15 "Watch does not recover from (forced) build error"
I try to use watcher to rebuild automatically but fail the builds when jscs or jshint on a source file fails.
This works only once. After the first rebuild that is triggered through changing a watched file, any further update on any of the watched files will be ignored. It seems that watcher does not recover from the build error enforced by ```failOnHint: true```. If I turn off ```failOnHint``` th

[2015-08-25 07:56] istr commented on #15
I am not sure if this issue belongs here or to the [main webpack repo](https://github.com/webpack/webpack). Please advise. Thanks.

[2015-08-26 23:27] kylebyerly-hp commented on #2
If you add
ignored: /node_modules/,
as in this commit https://github.com/webpack/watchpack/commit/b13cefe0c4bf7e75d9b11affe0e77873139b952a
into the chokidar.watch options in DirectoryWatcher.js you get a massive reduction in CPU usage when polling.

[2015-09-02 21:57] gajus opened #16 "Does not detect minor changes to the file (added/removed whitespace, semicolon)"
Subject:

[code]

I am using:

* webpack
* eslint-loader

I am running webpack using `webpack --watch --progress`.

The following output is generated:

[code]

So far so good.

I edit the subject file:

[code]

`webpack` CLI `--progress` indicates that package is re-built. **However, error output remains.**

I edit the subject file (edit the string):

[code]

`webpack` CLI `--progress` indicates t

[2015-09-02 21:58] gajus commented on #16
`webpack.OldWatchingPlugin()` does not suffer from the same behaviour.

[2015-10-03 13:07] centum opened #18 "Crash error after upgrade required package chokidar to up 1.1.0"
I use webpack in watch mode. After upgrade required package **chokidar** to version up 1.1.0 raise error:
[code]
With chokidar@1.0.5 with error don't raise.

[2015-10-13 19:47] gajus commented on #16
In addition to using the `OldWatchPlugin`, it is worth considering using `nodemon`, http://stackoverflow.com/a/33109171/368691.

[2015-12-07 22:14] ruslantalpa commented on #2
I did a trace to figure out what's going on so after looking at this
[code]
it seems that webpack (Compiler.js + NodeWatchFileSystem.js) is requesting a watch on *every* file that the build depends on, including node_modules.
This is the main reason for high cpu load.
@sokra will the commit referenced in the previous commit make it to a release or do you somehow consider it a "hack".
Would you con

[2016-01-02 19:55] STRML commented on #2
Excellent, @kylebyerly-hp . That works great. I agree with @ruslantalpa that it should be an option. Why not try submitting the PR and see how ti goes.

On OS X, I've also noticed that it's easy to break the `fsevents` module, so you might need a rebuild. If you get it to build then the CPU usage is quite nice, even though it's watching node_modules.

[2016-01-13 15:32] adam-beck opened #21 "Sporadic watching inside virtual machine"
First, I would like to start by saying this is **not** happening  in an NFS (shared) folder of a virtual machine.

When I bring up a virtual machine with VMWare or Virtualbox with a guest OS of Ubuntu 15.10 on a Windows 10 Host, changes are only picked up occasionally by webpack. If I save in succession 5-10 times I will likely have webpack recompile 1 time. I have upped the number of watchers acc

[2016-01-14 03:27] adam-beck commented on #21
All the tests are passing but it still doesn't work inside of webpack for me. I know this will be difficult to reproduce and may very well not be an issue with *this* repo. I will also be asking around in the chokidar repo to see if anybody has any more information.

I am trying to use [react-transform-boilerplate](https://github.com/gaearon/react-transform-boilerplate).

I could use any assistanc

[2016-01-14 13:16] adam-beck commented on #21
I've update the troubleshooting guide to include my findings. [This issue](https://github.com/webpack/webpack/issues/781) was opened in webpack and solved my problem.

[2016-01-14 13:16] #21 closed

[2016-02-05 13:30] philipkocanda commented on #6
This could be related to https://github.com/webpack/webpack/issues/556

[2016-02-23 22:00] elliottsj commented on #2
I've created a PR which adds an `ignored` option: https://github.com/webpack/watchpack/pull/23

[2016-02-24 14:13] rajikaimal opened #24 "Doesn't watch files continuously"
Even if the 'watch' is set to true, sometimes webpack doesn't watch changes in files, but sometimes it does.

[2016-02-25 20:37] aripalo commented on #2
Here's a little bash script https://gist.github.com/aripalo/6d659fefc79dee72e8e3 that fixes the issue until https://github.com/webpack/watchpack/pull/23 is merged and available in npm registry.

[2016-04-01 12:54] KidkArolis opened #25 "Files created right before watching starts make watching go into a loop"
I've noticed this strange behaviour where watcher loops for 10 seconds due to this code:

[code]

https://github.com/webpack/watchpack/blob/7efdd93aff0c991a766af886ccc16324401a202f/lib/DirectoryWatcher.js#L202-L205

What I'm doing in my script is basically creating a file in a temporary directory `/temp/entry.js`, creating a webpack compiler and run `compiler.watch()`. Now for 10 seconds (which is

[2016-04-15 11:45] gullitmiranda opened #26 "add gaze watcher lib"
it would be interesting to add another lib of watcher?

The webpack does not support fsevent in http://azk.io. I believe that the same issue will occur with docker or VMs. I'm thinking of adding the [gaze](https://github.com/shama/gaze) as a watcher optional or default.

use long polling is extremely impractical to consume large amount of resources and still be slow.

[2016-05-06 12:12] sokra commented on #25
`FS_ACCURENCY` should [automatically adjust](https://github.com/webpack/watchpack/blob/master/lib/DirectoryWatcher.js#L230-L239) to your file system accuracy. This may not happen fast enough if you have few files and the files are created unlucky on a timestamp modulo 10s.

The watching may loop in a unlucky case, but this should not result in a different compilation hash. I. e. the webpack-dev-se

[2016-05-06 12:13] sokra commented on #18
I assume this is no longer an issue.

[2016-05-06 12:13] #18 closed

[2016-05-06 12:14] sokra commented on #16
watchpack doesn't read the file. If this is still an issue report it to webpack.

[2016-05-06 12:14] #16 closed

[2016-05-06 12:16] sokra commented on #15
Not related to watchpack.

[2016-05-06 12:16] #15 closed

[2016-05-06 17:29] KidkArolis commented on #25
Ah, but Im experiencing this issue 100% of the time, because I am
programatically creating the entry.js file and starting the watch process
on it right away. So for 10s it keeps rebuilding continuously.
On Fri, 6 May 2016 at 13:12, Tobias Koppers <notifications@github.com>
wrote:

[2016-05-06 17:31] KidkArolis commented on #25
Would be nice to resolve this without having to fork webpack or delay
watching for 10s. I wonder if I could create a file with an older
timestamp..
On Fri, 6 May 2016 at 18:29, Karolis Narkevičius <karolis.n@gmail.com>
wrote:

[2016-07-14 16:14] Kovensky commented on #25
@sokra "`FS_ACCURENCY`" only adjusts itself when you get an actual `onChange` event. When you first fire `compiler.watch()`, and the compilation is fast enough (say, one file with no bundled dependencies), assuming you saved the file in the last few seconds, watchpack will keep emitting `change` events until the difference gets large enough.

When chokidar is using fswatch (OSX), `FS_ACCURENCY` ev

[2016-07-29 11:41] narqo opened #27 "watchpack doesn't emit "remove" event on file remove"
It seems that `Watchpack` doesn't listen to any file events from underlying watchers except `change` (see [the code](https://github.com/webpack/watchpack/blob/946a4b018e3b811db255357bc7bcda33c601155c/lib/watchpack.js#L94-L97)).
It might be handy to have `remove` event as well. Relates to webpack/webpack#1533.

/cc @dfilatov @veged

[2016-07-29 11:47] narqo opened #28 "watchpack doesn't emit events on nested directories remove"
Look like watchpack only listens to changes in top-level dirs from the list passed to `watch()` method. No events from nested directories (e.g. remove, rename, etc) are emitted.

[2016-08-09 15:01] veged commented on #27
/cc @sokra

[2016-08-09 15:01] veged commented on #28
/cc @sokra

[2016-08-25 13:48] minedeljkovic opened #29 "onWatcherError swallows"
Is there a reason for swallowing errors in:
https://github.com/webpack/watchpack/blob/2ba154a81dd151a0f1857ea5395954a7d9891ed7/lib/DirectoryWatcher.js#L264

I just spent couple of hours tracing just to find error like [this](https://github.com/paulmillr/chokidar/issues/255) swallowed :)

[2016-10-09 03:07] DanielWLam opened #30 "webpack watch doesn't work, i run npm test, fails~ what's going on? node:6.6.0,npm:3.10.3,webpack:1.13.2"
DirectoryWatcher
    1) should detect a file creation
DirectoryWatcher (/home/duoyi/learning/webpackEs6/node_modules/watchpack/test/fixtures) was not closed.
    2) should detect a file change
DirectoryWatcher (/home/duoyi/learning/webpackEs6/node_modules/watchpack/test/fixtures) was not closed.
    ✓ should not detect a file change in initial scan (202ms)
    ✓ should detect a file change in init

[2016-10-09 03:46] DanielWLam commented on #30
Seems that if i install the 1.12.11 version of webpack , watch is fine.

[2016-10-10 19:05] #24 closed

[2016-10-15 05:21] glamb opened #31 "Error: Cannot find module 'amdefine'"

[2016-10-18 15:51] rochdev commented on #25
We are having the same problem. A workaround we found is to manually change the mtime of the file before it gets picked up by Webpack, but it feels like just adding a hack on top of a hack.

[2016-10-18 15:58] hrimhari commented on #25
This problem has been haunting our team for a while. Files are being stored on doInitialScan() 10 seconds in the future and this generates multiple webpack-dev-middleware builds until the future becomes the past. It seems to me that watchpack should compare mtimes between nextTick()s instead of trying to guess if the mtime is in the future or in the past.

[2016-10-19 05:12] sokra commented on #25
Watchpacks strategy is: if not sure if it's a change, thread it as change. With low fs accuracy files could have changed even if mime is equal.

Normally multiple rebuilds shouldn't cause issues and this cause should be cached by the caller by comparing hash. I.e. the webpack CLI doesn't display stats output for equal hash.

Nevertheless this may could be fixed in watch pack by storing the time of

[2016-10-19 13:18] hrimhari commented on #25
How is FS_ACCURENCY helping in that case? If the filesystem doesn't provide the precision necessary to detect the change, FS_ACCURENCY will only add X milliseconds to that lack of precision. If mtime didn't change because of lack of precision, adding FS_ACCURENCY to it won't make it any different. The only reason I can imagine is when trying to guess if the mtime is in the future or not, and what

[2016-10-19 13:58] hrimhari commented on #25
FYI, here's an extract of what we see if we have a recent change before starting webpack-dev-middleware. I put a loop printing the current date in the background and added some console.logs for debugging purposes showing `arguments` for the compiler plugins. Note that the hash remains the same and the multiple builds happening until `startTime` is greater than `mtime` + `FS_ACCURENCY`:
[code]

[2016-10-31 10:10] SpaceK33z commented on #8
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-10-31 10:10] #8 closed

[2016-10-31 10:11] SpaceK33z commented on #12
@tony, is this fixed?

[2016-10-31 10:13] SpaceK33z commented on #30
Closing because it seems to be fixed with the new version.

[2016-10-31 10:13] #30 closed

[2016-10-31 10:13] SpaceK33z commented on #31
Could you please provide some more info?

[2016-10-31 21:30] tony commented on #12
@SpaceK33z It's been a long time since I made the thread. I worked around it by passing enabling polling.

I'm going to close it for now, if someone continues to have the issue in some form they can re-open or cite this.

[2016-10-31 21:30] #12 closed

[2016-11-15 11:15] SpaceK33z commented on #31
Closing this since I can't reproduce it and it doesn't seem to have anything to do with this package.

[2016-11-15 11:15] #31 closed

[2016-11-22 16:18] mischkl commented on #25
We are experiencing the endless rebuilding problem even for files that weren't created shortly before watching started. This is a problem that has affected us with Webpack 1 as well as 2, and occurs sporadically but often enough that it makes working with webpack-dev-server a chore and it almost makes one long for the days of grunt-watch and BrowserSync. ;) Here is a link to our config:
https://gi

[2016-11-22 23:00] #13 closed

[2016-12-08 13:14] wtgtybhertgeghgtwtg opened #36 "Consider moving from `chokidar` to `sane`."
[`sane`](https://github.com/amasad/sane) is the filesystem watcher used by `jest-cli`.  It supports Linux, OS X, and Windows, and can use `watchman` if available.  More notably, [its dependency tree](https://cloud.githubusercontent.com/assets/18507762/21010769/3171bd3a-bd0b-11e6-8abc-2059486f4ae9.png) is significantly smaller than [the dependency tree](https://cloud.githubusercontent.com/assets/18

[2016-12-08 13:50] SpaceK33z commented on #36
I think we can definitely consider this. In #26 @gullitmiranda suggest to use Gaze. Have you also looked into that (I have no idea which is "better")?

Do you think you would be able to make a proof of concept using sane (or Gaze)?

[2016-12-08 13:57] wtgtybhertgeghgtwtg commented on #36
I had looked at `gaze` a while back, but I remember that the version strings of its sub-dependencies were very rigid, so it didn't dedupe particularly well (i.e. you would have `lodash@4.16.x` from one of the dependencies of `gaze` and `lodash@4.17.x` somewhere else).  Admittedly, that is not a very good reason to pick one library over the other.
I will attempt to make a proof of concept using `sa

[2016-12-14 00:47] wtgtybhertgeghgtwtg commented on #36
I have this mostly complete, but there are a couple of tests that are not passing. `sane` seems to differ from `chokidar` in that writing to a file that did not exist will fire an `add` and a `change` event instead of just an `add`.  I opened [an issue](https://github.com/amasad/sane/issues/75) to ask about this, but I do not understand how to apply the response.

[2016-12-14 10:51] SpaceK33z commented on #36
Maybe you could just not listen on the `add` event? I don't know if this would work in all cases, but if `change` always fires when `add` is fired, that might work.

[2016-12-14 10:58] SpaceK33z commented on #36
Btw, when you have fixed this, we could ask some people from create-react-app with testing. I *think* it was @gaearon who was asking about if it was possible to use `watchman` in webpack. `sane` supports `watchman`, so that would fix it.

[2016-12-14 11:00] wtgtybhertgeghgtwtg commented on #36
It was.  Actually, [that tweet](https://twitter.com/dan_abramov/status/804322288107749376) is kinda the reason I decided to try this.

[2016-12-14 11:02] gaearon commented on #36
Yeah I'd be happy to test it.

[2016-12-14 12:40] wtgtybhertgeghgtwtg commented on #36
The issue isn't so much the `add` event as it is the `change` event.  [Some](https://github.com/webpack/watchpack/blob/master/test/watchpack.js#L26) [tests](https://github.com/webpack/watchpack/blob/master/test/watchpack.js#L433) assert that there will be a certain number of `change` events fired, whiles [others](https://github.com/webpack/watchpack/blob/master/test/watchpack.js#L349) assert that

[2016-12-18 08:02] wtgtybhertgeghgtwtg commented on #36
Proof of Concept: #41.

[2016-12-22 10:34] SpaceK33z commented on #27
Closing this since #37 was merged. A new version will be released soon.

[2016-12-22 10:34] #27 closed

[2016-12-24 12:57] SpaceK33z opened #42 "Watching doesn't work if parent directory contains special characters"
Easiest way to reproduce this is by running the [webpack tutorial](https://webpack.github.io/docs/tutorials/getting-started/) from a directory that contains parentheses in the name.

This is an issue in chokidar (see https://github.com/paulmillr/chokidar/issues/533). There is a [PR open](https://github.com/paulmillr/chokidar/pull/535) to fix it.

This will also be fixed if we move to another watch

[2016-12-24 13:07] SpaceK33z opened #43 "Process exits on Bash on Windows"
General Information:
webpack version: 1.13.2
OS: Windows 10 Anniversary Update and webpack is running in Windows Subsystem for Linux(The new bash on Ubuntu)

I"m trying to run webpack in watch mode by using:

[code]

and by also setting watch mode in config:

[code]

All webpack does is run the transpiler and exit.
Example of output when running watch mode:

[code]

I'm not sure what i'm doing inc

[2016-12-24 13:08] SpaceK33z commented on #43
@mastrauckas, could you confirm that this is still an issue?

[2016-12-24 13:09] SpaceK33z opened #44 "Watch Mode stops functioning if emitted file is busy or locked"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
When in watch mode, if a file is busy when attempting to emit to it, watch stops functioning. The following error is appropriately logged:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
run webpack --watch
save a watched file
output to a file which is currently be

[2016-12-24 13:13] SpaceK33z commented on #26
@gullitmiranda, see https://github.com/webpack/watchpack/pull/41. This is a proof of concept that uses `sane`. Does that also work for you?

[2016-12-24 15:25] SpaceK33z opened #45 "large symlinked module causes a hard FSEvents failure when using contexts"
I’ve run into a fairly strange, fairly specific problem when running webpack in watch mode on OS X. When using `require.context` in the presence of a module with a lot of dependencies in `node_modules` that was symlinked using `npm link`, webpack seems to open a _lot_ of file descriptors, very quickly leading to a rapid stream of dozens of errors per second coming from OS X’s FSEvents framework:

[2016-12-24 15:26] SpaceK33z commented on #45
We should check if this still happens when we switch from chokidar to sane, see #41.

@lexi-lambda, could you check if this still happens when you apply PR #41 manually.

[2016-12-27 10:50] SpaceK33z opened #46 "Silent fail when fs.inotify.max_user_watches is exceeded"
### Docker container configuration
- Webpack 1.10.3
- Node v0.10.25
- Ubuntu 15.04
### Host configuration
- Docker 1.0.1
- Ubuntu 14.04
### Issue

Running `webpack --watch` in docker container successfully performs one build and then exits with exit code 0 (success).
### Expectation

Some kind of error code and a return code != 0 if max_user_watches is exceeded.
### Workaround

Increasing `/proc/s

[2017-02-01 20:49] strictd commented on #12
We just had this issue. The core issue is how the watched file is being written to. In our case rsync was replacing the file. Adding --inplace switch to our rsync command solved this problem.

[2017-03-01 00:35] marcoqu commented on #42
Hi, any news on this?
Is watchpack going to move to sane or are we waiting a patch for chokidar?
Just asking because I'm stuck on a Dropbox Business folder, and there's no way to make it work...
Thanks

[2017-03-08 19:43] gbmeireles commented on #42
@marcoqu I manage to get it working by making a link to a folder without any especial characters.
On windows on an admin prompt:
mklink /J "C:\Projects" "C:\Dropbox (Business)\Projects"

[2017-03-08 19:45] shshaw commented on #42
@gbmeireles In this case, `C:\Projects` is the link and `C:\Dropbox (Business)\Projects` is where the actual files reside?

[2017-03-08 19:47] gbmeireles commented on #42
@shshaw Yes, that`s right.

[2017-03-08 20:13] gbmeireles commented on #42
@shshaw @marcoqu I spoke too soon. I think I was looking into some other project path. The symlink approach is not working. Sorry.

[2017-03-09 09:42] marcoqu commented on #42
@gbmeireles @shshaw The issue with dropbox businness and watchpack is that watchpack does not work with folders with brackets or with symlinks, and dropbox also doens't sync symlinks. So that won't fix it.

The hack that made it work for me is manually replacing is-glob used by chokidar with the latest version (3.1.0?). That actually worked. See also: paulmillr/chokidar#533

[2017-03-19 20:22] iMoses opened #50 "Why is followSymlinks disabled?"
I have several projects which uses `npm link` to share modules and I've noticed that webpack HMR wouldn't work from these symlinks.
After investigating I've noticed that in the `chokidar.watch` call passes in the options `followSymlinks: false`.
I wanted to ask how come and if you are willing to change it to `true` :)
That's all I need to use HMR with my `npm link`s.
I can have a PR ready in a min

[2017-03-20 15:10] andyhall commented on #25
For anyone else tearing out hair over this, backdating the relevant files by ten seconds is an awful hack but it worked for me:

[code]

[2017-03-25 01:45] Atinux commented on #25
You just made my day @andyhall

I confirm that his solution works like a charm!

[2017-04-09 08:36] korene commented on #50
This change will definitely make my life easier and will save me time

[2017-05-10 23:52] uhoh-itsmaciek commented on #46
I ran into this as well, but in the context of webpack HMR, where this leads webpack into a state where it's watching some files but not others. This was extremely frustrating and time-consuming to track down.

I'm happy to try to contribute a patch with some guidance. Any suggestions as to where to start? And is the particular issue that I ran into a watchpack or webpack problem?

[2017-05-22 19:30] danoc opened #51 "Recompiles continuously until recently modified file is 10 seconds old"
Hello,

I'm using `webpack-dev-server` and a custom script to build and view a project I'm working on. I run it like this:

[code]

The Node script creates a JSON file that is required in my bundle and that `webpack-dev-server` watches. The problem, however, is that `webpack-dev-sever` will constantly recompile until the JSON file is 10 seconds old.

Below is the console output. I've added my own

[2017-05-23 13:08] ilyaskorik commented on #43
This is still an issue for me

[2017-05-24 12:26] mastrauckas commented on #43
@ilyaskorik: I have not been using Bash for Windows in general because of other issues since December. However I can still test this on Thursday to confirm it is still an issue.

[2017-05-26 00:33] Jorenm commented on #42
Here's a copy of the shrinkwrap I used to fix it:

[code]

[2017-05-28 14:52] mastrauckas commented on #43
@ilyaskorik It appears to be working now.  Thanks for your help!

[2017-06-05 17:35] mika76 commented on #44
ping 🏓

This is such an irritating little issue, couldn't someone please take it up? 🙏

[2017-06-08 17:26] mwistrand commented on #51
I've run into the same issue; within our webpack config, we have a loader that maps CSS modules to TypeScript definition files. When these `d.ts` files are created or modified for the first time, the [initial change event](https://github.com/webpack/watchpack/blob/master/lib/DirectoryWatcher.js#L94) fires, with the `mtime` set 10000ms in the future. [Subsequent change events](https://github.com/we

[2017-06-15 19:27] samvv commented on #51
Think this is related to issue #25.

[2017-06-17 20:11] danoc commented on #51
Looks like it is a duplicate. Will close this.

[2017-06-17 20:11] #51 closed

[2017-06-27 13:25] trsh opened #53 "Watch recursion"
So recently I got problems in webpack, where the watcher is spamming "compile" events for files that are updated before watching starts.  The rabbit hole was deep, but led me to watchpack.

So:

1. So at some point `doInitialScan `is processed in `DirectoryWatcher`.
2. This, at least for files, runs `setFileTime`
3. As the `inital `flag is set, this `this.files[filePath] = [initial ? Math.min(now,

[2017-07-07 04:44] #42 closed

[2017-07-10 13:55] igwan commented on #50
I guess changing `followSymlinks` to `true` by default is not an option since it's one of watchpack concept that

But maybe we can add it as an option to watchpack while keeping the default to false. This would allow to change it through webpack `watcherOptions`.

Is this acceptable ? Would such a PR be merged ?
I guess a PR for webpack doc would be needed as well.

[2017-07-15 09:39] sokra commented on #50
webpack follows symlinks in the resolver. webpack provides both symlink path plus resolved path to watchpack.

[2017-07-15 09:39] #50 closed

[2017-07-18 07:54] trsh commented on #53
Any comments?

[2017-07-25 14:47] AlexGalays commented on #53
Same as https://github.com/webpack/watchpack/issues/25
?

[2017-07-25 14:53] trsh commented on #25
Same here, check https://github.com/webpack/watchpack/issues/53. My explanation why this happens is very detailed.

[2017-07-25 14:53] trsh commented on #53
@AlexGalays yes

[2017-07-25 14:55] AlexGalays commented on #25
Webpack also has this bug if the files are created early in the process but AFTER calling `webpack(options).watch()`.

Strangely enough, doing a command line `webpack --watch` (with the exact same options) doesn't display the same issue.

[2017-07-25 15:00] trsh commented on #25
@sokra from your last comment, what is the conclusion? Address this to webpack and Close issue, or the fix your are talking about is on the way / planed. Right now it's moving nowhere, very popular and annoying :). I would gladly make a P.R., but I did not understand your strategy.

[2017-07-25 15:04] trsh commented on #25
@AlexGalays for me, I just need to edit the some script, wait for at last 10 secs, and then run webpack --watch.

[2017-07-25 15:15] ericclemmons commented on #25
I can confirm that https://github.com/webpack/watchpack/issues/25#issuecomment-287789288 fixes the problem, but would need help figuring out _why_ the webpack code has this problem.

The best I can figure is this?

[2017-07-25 18:25] hrimhari commented on #25
As I [mentioned before](https://github.com/webpack/watchpack/issues/25#issuecomment-254809683), it seems to me that FS_ACCURACY doesn't really help anything and creates all this hassle. The strategy I'd suggest would be to remove it.

[2017-07-31 11:23] webpack-bot opened #57 "Hot Module Replacement doesn't notice when a symlink is changed"
**What is the current behavior?**
We symlink our node_modules directory and change the symlink when we update node_modules. When the directory is changes HMR doesn't detect that something has changed.

**If the current behavior is a bug, please provide the steps to reproduce.**
Setup HMR referencing a file with the parent directory symlinked. Change the symlink to a different directory with a modi

[2017-08-01 07:35] yessky commented on #25
This issue also confused me for a while. finally I found a trick to fix it.

`const compiler = webpack(webpackConfig);
 const timefix = 11000;
  compiler.plugin('watch-run', (watching, callback) => {
    watching.startTime += timefix;
    callback()
  });
  compiler.plugin('done', (stats) => {
    stats.startTime -= timefix
  })`

also a npm package is available https://github.com/yessky/webpack-m

[2017-09-26 12:01] Robinfr commented on #25
This is rather problematic when working with Lerna where you link several projects together sometimes.

[2017-11-10 10:29] DennisNeuendorfNetlight commented on #57
Is there any progress on this?

[2017-11-10 11:04] rrousselGit commented on #57
+1
As a workaround I made something like this :

[code]

But this is not optimal

[2017-11-19 09:20] gmcdev commented on #25
[yessky's hack](https://github.com/webpack/watchpack/issues/25#issuecomment-319292564) is the jam:
 - On compiler `watch-run`, offset the start time by 11s
 - On compiler `done`, restore the start-time

The same fix is [here](https://github.com/ff0000-ad-tech/wp-plugin-watch-offset), as a plugin.

[2017-11-30 09:40] mcpherson-sa commented on #25
I am experiencing the issue on Ubuntu, have tried tried the mild compile plugin but it doesn't seem to help. Am interested in the fix mention by Andy Hall but am unsure were to apply the code.

[2017-11-30 10:37] mcpherson-sa commented on #25
I added some logging to DirectoryWatcher.js and for my case I don't think the problem is in  this code
[code]
emit doesn't get called here when I change me file. I put logging code in all the other places where emit is called an seems to only be called once. So I am thinking the problem is elsewhere. I seem to be getting only one compile but multiple browser reloads.

[2017-11-30 10:55] hrimhari commented on #25
@mcpherson-sa what's your understanding after reading the previous comments ?

[2017-11-30 11:17] mcpherson-sa commented on #25
@hrimhari - I think I might be seeing a problem which is different from what some other people are seeing, as I am not seeming multiple compiles just multiple reloads. What behavior are you observing?

[2017-12-03 18:25] karneaud commented on #28
+1

[2017-12-14 09:25] webpack-bot opened #60 "Watch doesn`t work correctly with links"
**Do you want to request a *feature* or report a *bug*?**
Bug report.

**What is the current behavior?**
When i create link in node_modules and set symlinks to false, I have problem with watch, it works sometimes (more often it doesn`t work)

**If the current behavior is a bug, please provide the steps to reproduce.**
1. create link
2. set symlinks to false
3. change file by link

**What is the ex

[2017-12-14 10:30] arshtepe commented on #60
I need quick workaround. How can i add to watch path to source folder ?
I tried add path to source folder in resolve.modules, but doesn`t work.

[2017-12-14 10:39] evilebottnawi commented on #60
@arshtepe in near time i investigate this

[2017-12-14 10:43] arshtepe commented on #60
I update my demo for better understanding problem.
To reproduce you need:
[code]
and modify something in  simple-repo2
folder webpack contains link to repo, repo have link to repo2. Maybe it helps.
https://bitbucket.org/CyBer_UA/webpack-demo/src/a8287bb1a36e2bd91ccd55a42bfcdbb6bf0726ed?at=master

[2018-01-09 14:16] arshtepe commented on #60
@evilebottnawi  How's the investigation going  ?

[2018-01-11 09:23] evilebottnawi commented on #60
@arshtepe today i see this

[2018-01-14 02:06] felipenmoura commented on #25
I'm seeing this problem like this:

[code]

If I put the compiler inside a `setTimeout` of 10 secs, it works. If the delay is 9 secs, it goes into a loop 100% of times.
That only happens if the file was created. If the file already existed, it works normally :/

[2018-01-14 02:27] felipenmoura commented on #25
I managed to fix it using the tip I found here:
https://github.com/ckeditor/ckeditor5-dev/issues/346

[code]

[2018-01-16 13:00] txinfo opened #61 "watchpack watch not triggering when symlinked node_module files are modified when using webpack 'symlinks: true'"
In a regular webpack project, a symlinked module in node_modules is watched for changes correctly (as long as the module in question is referenced).

However, if using 'symlinks:true' in webpack to resolve symlinks to their full path (e.g. when using --preserve-symlinks behaviour in angular-cli), it does not seem to watch for changes anymore.

I have tracked this behaviour down to the 'followSymli

[2018-02-08 16:09] evilebottnawi commented on #53
@trsh duplicate https://github.com/webpack/watchpack/issues/53?

[2018-02-08 16:26] YurySolovyov commented on #53
Adjusting concurrency seems like a crutch, race condition like that should never happen by design.

If that means things will go slower, it is fine, cause spamming like that confusing and slowing developers anyway.

Please, dear core team, do **not** trade speed for correctness and robustness.

[2018-02-22 07:33] yessky commented on #25
@felipenmoura try better [workaround](https://github.com/webpack/watchpack/issues/25#issuecomment-319292564)

[2018-02-22 12:33] webpack-bot opened #63 "NSP check is reporting vulnerability on latest Webpack package."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-02-22 12:39] ev1stensberg commented on #63
https://github.com/hueniverse/hawk/pull/234

[2018-02-22 13:01] EugeneHlushko commented on #63
in that case it can be closed? @ev1stensberg

[2018-02-25 07:32] realityking commented on #63
The problem is that `fsevents` bundles `node-pre-gyp`. See https://github.com/strongloop/fsevents/issues/187 for details.

[2018-02-26 06:26] andyhall commented on #25
Chiming in to add that the solution I posted further up the thread no longer works for me, but @yessky 's works great.

The fix can be added directly into a `webpack.config.js` file like this:

[code]

[2018-02-27 11:54] pi0 commented on #25
A new issue with webpack 4. `watcher.startTime` is undefined :(

[2018-02-28 12:00] evilebottnawi commented on #57
@DennisNeuendorfNetlight @rrousselGit problem still exists? Somebody can create minimum reproducible test repo?

[2018-02-28 12:01] evilebottnawi commented on #60
@arshtepe Sorry for delay, don't have time :disappointed: Feel free to investigate and send PR for fix this :+1:

[2018-02-28 12:02] evilebottnawi commented on #28
@narqo @veged @karneaud Sorry for delay! Problem still exists? If yes can you create minimum reproducible test repo?

[2018-03-01 11:15] pi0 commented on #25
For anyone having this problem, you can use [time-fix-plugin](https://github.com/egoist/time-fix-plugin) which is fully compatible with webpack 4. (Current method does not works anymore with < 4.0.0)

[2018-03-01 11:18] evilebottnawi commented on #25
Some body can send PR with tests? We open to fix this, just ping me :+1:

[2018-03-09 15:26] mixtur commented on #25
Why not just call ensureFsAccuracy with some (current?) file's mfile upfront? It will effectively turn this problem to heisenbug)

[2018-03-16 21:51] SEAPUNK commented on #60
I believe the solution here is to set chokidar.followSymlinks to `true` if webpack's resolve.symlinks is set to false: https://github.com/webpack/watchpack/blob/master/lib/DirectoryWatcher.js#L54

[2018-03-19 01:44] yessky commented on #25
[webpack-mild-compile](https://github.com/yessky/webpack-mild-compile) now supports webpack v2/3/4. I really hope watchpack team solve this issue, so we can remove this workaround

[2018-03-19 06:36] pi0 commented on #25
@yessky Sorry but I think webpack-mild-compile needs little more fixes for wp4. (You can try debugging. `watching` is probably undefined).

[2018-03-20 02:28] yessky commented on #25
@pi0 Thanks. `watchRun` callback receive a `compiler` instance instead of 'watching' under v4.

[2018-03-27 15:41] frontendphil opened #75 "Improve documentation regarding CSPs"
I'm creating this issue as a result of https://github.com/webpack/webpack.js.org/pull/1833#issuecomment-376500475. The current docs regarding how the `__webpack_nonce__` should be used are still lacking necessary information.

- Where to put `__webpack_nonce__`
  - Is it a build-time setting
  - How to inject if it is not a build-time setting? (does setting `window.__webpack_nonce__` work?)
- Are

[2018-04-04 04:37] HIRANO-Satoshi commented on #25
I'm using wp3.

The webpack-mild-compile and time-fix-plugin won't work. But [andyhal's workaround](https://github.com/webpack/watchpack/issues/25#issuecomment-368402851) works.

[2018-04-04 08:17] yessky commented on #25
@HIRANO-Satoshi  try again, it should works now

[2018-04-05 01:52] HIRANO-Satoshi commented on #25
@yessky I comfirmed your webpack-mild-compile worked for wp3. Thanks.

[2018-04-07 11:42] EECOLOR commented on #25
I don't understand the issue completely, but this issue seems to be open for quite some time. Will there be a fix?

[2018-04-24 10:29] stoikerty commented on #63
Is there an update on this by any chance?

Looks like the issue in `fsevents` has been resolved in v1.2.0
https://github.com/strongloop/fsevents/issues/187#issuecomment-383129214

`fsevents` has been updated to v1.2.2 just 18hrs ago

[2018-04-24 14:57] evilebottnawi commented on #63
@stoikerty hm, why don't update `npm/yarn` lock files?

[2018-04-25 03:58] nigelkong commented on #25
If time-fix-plugin still does not solve your problem, adding this together with the time-fix-plugin solved the issue for me:

 `
plugins: [
    new webpack.WatchIgnorePlugin([
      /\.js$/,
      /\.d\.ts$/
    ])
],
`
Thanks to @ORESoftware at this [issue](https://github.com/TypeStrong/ts-loader/issues/666
)!

[2018-05-03 12:17] DanielRuf opened #79 "failing unit tests on Node.js 4"
I'll probably investigate this but these should not fail. Not yet sure if this is due to the (dev)dependencies or other changes.

[2018-05-03 12:26] evilebottnawi commented on #79
looks like randomly fail

[2018-05-03 12:31] DanielRuf commented on #79
I agree. And 10 should be added.

[2018-05-03 12:32] evilebottnawi commented on #79
@DanielRuf Feel free to send PR :+1:

[2018-05-12 09:01] meteorlxy opened #82 "[Feature request] Config for only watching some of the events"
Currently, we are watching all the events:
https://github.com/webpack/watchpack/blob/8d839e8b6edb87f9cd8a1ff97028060c4ecc9bee/lib/DirectoryWatcher.js#L67-L72

In our case (https://github.com/vuejs/vuepress/issues/351), we only want webpack to watch `change` events, and other events will be handled by ourselves.

[2018-05-12 13:57] evilebottnawi commented on #82
@meteorlxy PR welcome :+1:

[2018-05-15 20:30] curioussavage commented on #36
Was this proposal abandoned?

[2018-05-15 20:41] evilebottnawi commented on #36
Yes

[2018-05-23 06:55] arshtepe commented on #60
@SEAPUNK  I tested this solution on Windows 10 and Ubuntu and it works.

[2018-05-26 14:03] lysla commented on #63
Any news about this issue? Just started a new repo with fresh webpack setup and github is notifying me with the vulnerability issue on Hoek v2.16.3 in package lock dependencies. Should I just ignore it at the moment?

[2018-05-28 13:08] ev1stensberg commented on #63
Could you try to open an issue at the Hawk repository?

[2018-05-28 13:17] evilebottnawi commented on #63
@lysla looks you use `webpack` global and should reinstall, issue was fixed, just update you deps and lock files (also update `webpack` globally if you install globally)

[2018-05-28 13:17] #63 closed

[2018-05-28 17:57] lysla commented on #63
@evilebottnawi i did not install webpack globally, i installed it in the local directory of a new project, was a fresh install. i will try to update (?) as in uninstall - re-install...

[2018-05-28 18:15] evilebottnawi commented on #63
@lysla yes, we every day install and reinstall `webpack` and no problem, also can you provide `webpack` version?

[2018-05-28 18:44] lysla commented on #63
@evilebottnawi i did reinstall and then checked on packagelock deps, it turns out for me this was related to node-sass and not actually webpack, they currently have an open issue here https://github.com/sass/node-sass/issues/2355 - waiting for node-sass v5 to be realeased then... sorry for the trouble ;)

[2018-06-11 17:52] hotwer commented on #44
I agree, sometimes webpack takes a while to restart, having the watch restart by itself is important.

[2018-06-12 19:47] tbondon commented on #44
I've had this problem for 2 weeks and finally found a solution, it may not be the case for everyone but I use OneDrive to save my files and coincidentally when i checked right after having the issue, OneDrive was uploading the damn file. So I just stopped OneDrive :P

[2018-07-11 09:52] jukibom commented on #61
anyone looking for a horrifying stopgap waiting for this to be fixed, add
```"postinstall": "sed -i 's/followSymlinks: false/followSymlinks: true/g' node_modules/watchpack/lib/DirectoryWatcher.js"```
to package.json. Probably don't commit it into your repo though ;P

[2018-08-01 18:46] RustyRaptor commented on #28
I believe I am having this issue as well but I am not sure if it's the same thing. I have my app.js in ./src/ and I have the rest of my components in ./src/components and when I make changes to those components webpack --watch and the dev server won't recompile. Is this what's happening here?

[2018-08-09 16:39] shcallaway commented on #25
I started experiencing the infinite compilation loop after changing the macOS date/time preferences in order to reproduce a date-related bug in my app. Just a warning to anyone else who might run into the same issue!

[2018-11-06 10:24] DamienCassou opened #87 "Please update chokidar"
chokidar 2.0.4 includes a [fix to work with nodejs 10](https://github.com/paulmillr/chokidar/commit/11aea72ad7c65216a0f767142ce57151c7b3d0c1#diff-b9cfc7f2cdf78a7f4b91a753d10865a2). Can you please update?

[2018-11-06 10:30] evilebottnawi commented on #87
@DamienCassou Please update you deps and `lock` file

[2018-11-06 10:30] #87 closed

[2018-11-22 21:50] needo2 commented on #61
Experiencing this with 'symlinks: false'

[2018-12-05 10:29] txiaocao opened #88 "fsevents is WARN!!!"
why do not remove this..

[code]

[2018-12-05 10:31] evilebottnawi commented on #88
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-12-05 10:31] evilebottnawi commented on #88
Oh sorry

[2018-12-05 10:32] #88 closed

[2018-12-05 10:32] evilebottnawi commented on #88
We can't remove this message because it is from `chokidar` and it is normal to have this message

[2018-12-09 15:32] LaKing commented on #61
Finally I found this. Fix from @jukibom works!

[2018-12-11 15:03] aseem2625 commented on #25
Working solution for me: Compare with last stored hash.
[code]

[2018-12-11 15:04] aseem2625 commented on #25
Working solution for me: Compare with last stored hash.
[code]

[2018-12-11 15:14] pi0 commented on #25
@aseem2625 I think with your solution, we would have **2** compiles instead of a loop. (Second build->hash is extra)

[2018-12-11 17:14] aseem2625 commented on #25
@pi0
So, in my cb() I'm doing stuff with the file system(not editing the filed watched by webpack though). This apparently is the reason which is causing it to run infinite times (Because if I put empty fn. for cb, it just runs once). So, only possible way was to check with last stored hash. **Ya, it does run 2 times**, which I'm not sure why, but there are no side effects as such.

[2018-12-12 00:44] floribon commented on #61
I'm also having this problem when I symlink a folder in my node_modules and use `symlinks: false`.

@jukibom workaround works for now. Thanks!

[2018-12-17 05:02] rauchg commented on #36
I'd love to re-examine this. A big chunk of time in `next` is spent installing `chokidar` (specifically `fsvents`, but as mentioned above the dependency tree is gigantic). In order to "webpack webpack", we need to exclude `chokidar` in https://github.com/zeit/ncc.

Furthermore, it doesn't seem like `chokidar`'s stated benefits in its README are valid today according to a libuv's maintainer:

https

[2018-12-17 10:07] evilebottnawi commented on #36
The `chokidar` tool is very stable compared with `sane`, not sure we really need migrate on other solution, somebody can describe why we need do this?

[2019-01-04 12:46] #79 closed

[2019-01-06 16:34] yuchonghua commented on #25
Still quite looking forward to this problem has a solution as soon as possible

[2019-01-06 16:36] yuchonghua commented on #25
Looking forward to the master to fix this problem, contribute a pr to webpack/watchpack

[2019-01-06 16:39] HadiChen commented on #25
Hope that there can be a solution

[2019-01-06 16:43] yuchonghua commented on #25
I am looking forward to the [official](https://github.com/webpack/watchpack/issues/25#issuecomment-369560848) solution to this problem.

[2019-01-11 07:17] lovetingyuan commented on #36
while we do not use both `chokidar` and `sane`, just use `fs.watch` 🙂

[2019-01-27 00:45] wtgtybhertgeghgtwtg commented on #36
That would close this issue.

[2019-01-27 00:45] #36 closed

[2019-02-11 08:14] yuchonghua opened #95 "Can you adapt to your own file system?"
Can you adapt to your own file system?
I look forward to helping you with this [pr](https://github.com/webpack/watchpack/pull/97), thank you very much.

[2019-02-13 06:14] yuchonghua opened #98 "Automatic test itself seems to have problems"
Automatic test itself seems to have problems

see: https://github.com/webpack/watchpack/issues/14

see: https://github.com/webpack/watchpack/pull/96#issuecomment-463068962

It should not be a problem I changed.

---
see: https://travis-ci.org/webpack/watchpack/builds/492544114?utm_source=github_status&utm_medium=notification
![image](https://user-images.githubusercontent.com/17898715/52690639-4f64

[2019-02-13 06:21] HadiChen commented on #98
What is the cause of this, is it a problem with Travis CI?

[2019-02-13 06:21] yuchonghua commented on #14
I have encountered the same problem with you. This automatic test actually has a random error. In fact, this error is not only on Mac OS X, but it is possible to trigger the error on any test.

see: https://github.com/webpack/watchpack/issues/98

/ping @gajus

[2019-02-13 06:30] HadiChen commented on #14
see: https://travis-ci.org/webpack/watchpack/jobs/492541153
![image](https://user-images.githubusercontent.com/17898715/52691125-d23a0e80-2f9a-11e9-87b4-dc31df7f19f1.png)

see:https://travis-ci.org/webpack/watchpack/jobs/492544121
![image](https://user-images.githubusercontent.com/17898715/52691172-f269cd80-2f9a-11e9-9cc2-201f684439c3.png)

see: pr : https://github.com/webpack/watchpack/pull/96 ht

[2019-02-13 07:00] yuchonghua commented on #14
@see: https://travis-ci.org/webpack/watchpack/builds/492552129?utm_source=github_status&utm_medium=notification

---

![image](https://user-images.githubusercontent.com/17898715/52692895-1e3b8200-2fa0-11e9-90f5-b063ee47e55f.png)

[2019-02-14 09:54] evilebottnawi commented on #98
Looks like concurrency in test sometimes, need fix it, feel free to investigate and send a PR

[2019-02-19 14:03] evilebottnawi commented on #43
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-19 14:03] #43 closed

[2019-02-19 14:03] evilebottnawi commented on #26
Closing due to inactivity. Thanks!

[2019-02-19 14:03] #26 closed

[2019-02-19 14:03] evilebottnawi commented on #29
@minedeljkovic problem still exists?

[2019-02-19 14:04] evilebottnawi commented on #57
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-19 14:04] evilebottnawi commented on #57
/cc @martpie can you create minimum reproducible test repo?

[2019-02-19 14:05] evilebottnawi commented on #60
@SEAPUNK can you send a PR?

[2019-02-19 14:07] minedeljkovic commented on #29
Frankly, I can't remember in what context I had this issue so long ago :)

[2019-02-19 14:07] #29 closed

[2019-02-19 19:31] SEAPUNK commented on #60
@evilebottnawi The PR is at https://github.com/webpack/watchpack/pull/72, I believe.

[2019-02-21 07:06] lovetingyuan opened #99 "add option `waitFinishWritten` to ensure emit change event(or finish event) after some big file written done to disk"
sometimes, when change event is emitted, I can not read the final content of watched files(it's size is big)
like 'chokidar', it offers a option: `awaitWriteFinish`

[2019-02-21 09:07] evilebottnawi commented on #99
@lovetingyuan please create minimum reproducible test repo

[2019-02-21 09:53] lovetingyuan commented on #99
here is the repo: https://github.com/lovetingyuan/watchpack-bug-reproduce
thanks!

[2019-02-21 09:57] evilebottnawi commented on #99
Looks like a bug we need fix it

[2019-02-21 10:54] evilebottnawi commented on #99
@lovetingyuan Original file have length `541251`, but you check `assert.ok(fileContent.trim().length > 555555)`, it is always will be failed

[2019-02-21 11:15] lovetingyuan commented on #99
![2019-02-21_191220](https://user-images.githubusercontent.com/7310471/53165145-e91cd880-360c-11e9-97da-bdfa5ae0a06b.png)
the length is larger than `555555` @evilebottnawi

[2019-02-21 11:30] evilebottnawi commented on #99
@loveky no:
[code]

[2019-02-21 11:31] evilebottnawi commented on #99
What is you filesystem?

[2019-02-22 03:38] lovetingyuan commented on #99
sorry, I use windows, but error still occurs even the size was changed to `500000`
I update the repo and read the file size at first used as the compared size number.
By the way, I found that the first time modification will not cause error(or in most cases, not sure), but when I modify `test.txt` again, error is there
@evilebottnawi

[2019-02-22 10:31] evilebottnawi commented on #99
@lovetingyuan Something wrong with you fs, can't reproducible on linux (Ubuntu), windows 10, macos

[2019-02-22 10:32] evilebottnawi commented on #99
Please provide information about your os, fs where you store repo, any additional information what can help to find problem

[2019-02-25 09:34] lovetingyuan commented on #99
my envrionment info:
editor: vscode
* version: 1.31.1 (system setup)
* commit: 1b8e8302e405050205e69b59abb3559592bb9e60
* date: 2019-02-12T02:20:54.427Z
* Electron: 3.1.2
* Chrome: 66.0.3359.181
* Node.js: 10.2.0
* V8: 6.6.346.32
* OS: Windows_NT x64 10.0.17134

I test it on macos, no error(both vscode and vim).
On windows, If I use vscode(or vim), there are errors, because the `change` event was

[2019-02-25 09:37] evilebottnawi commented on #99
@lovetingyuan i think problem on IDE side, can't reproduce on difference os with difference editors

[2019-02-28 23:41] martpie commented on #57
@evilebottnawi I tried, but I could not create a minimum repro.

But this can be seen there: https://github.com/masad-frost/monorepo-typescript-next-the-sane-way.

[code]

You can inspect the webpack config by adding `console.log(config)` or `util.inspect` on this line: https://github.com/masad-frost/monorepo-typescript-next-the-sane-way/blob/master/website/next.config.js#L18

[2019-03-15 08:00] strobox commented on #57
@evilebottnawi  Thanks for reopening.

[2019-03-15 09:52] evilebottnawi commented on #57
Anywat feel free to send a PR

[2019-03-20 11:55] #99 closed

[2019-05-11 15:37] ChrisSG opened #105 "Webpack not respecting "watchOptions.ignored""
https://github.com/webpack/watchpack/blob/0d5001dff7e60874b9542a5b4bc4ac4b77c7a4bf/lib/DirectoryWatcher.js#L80

[2019-05-13 10:12] evilebottnawi commented on #105
@ChrisSG it is alpha version for `webpack@5`, what is problem?

[2019-05-13 13:59] ChrisSG commented on #105
Sorry that was a really bad issue description.....  Thank you for replying anyways!

The problem is that I am using WatchIgnorePlugin at the moment to achieve the effect that a directory is ignored when watching. I tried to implement this using the https://webpack.js.org/configuration/watch/#watchoptionsignored option but this did not work. Ther was literally no effect applying those to webpack an

[2019-05-13 14:02] evilebottnawi commented on #105
And Yes and No, can you create minimum reproducible test repo with description what is work and what is not work as you expected

[2019-05-27 16:44] evilebottnawi commented on #75
Issue not related to `watchpack`

[2019-05-27 16:44] #75 closed

[2019-05-27 16:45] evilebottnawi commented on #14
Close in favor https://github.com/webpack/watchpack/issues/98

[2019-05-27 16:45] #14 closed

[2019-06-02 12:20] bkniffler commented on #61
Just in case @jukibom command doesn't work on your platform, you can install `replace` package from npm globally or locally and add this in `postinstall`.

[code]

Its 100% analog to @jukibom solution, so all credits to him!

[2019-06-12 16:59] raf64flo commented on #61
I fear @jukibom's workaround is not working anymore since commit 805b66502e43be4b1892d2cc0b160e4c53e32e38 which removes dependency to chokidar and symlinks configuration..

@sokra any chance to have a symlink option with the new native watcher, before v2.0.0 goes GA?

[2019-06-28 12:52] Timer opened #112 "New release"
Could we please get a new release that includes https://github.com/webpack/watchpack/pull/109?

[2019-07-01 07:02] sokra commented on #112
https://github.com/webpack/webpack/pull/9344

[2019-07-01 07:02] #112 closed

[2019-07-01 12:30] Timer commented on #112
Thanks @sokra!

[2019-07-10 11:57] sokra commented on #105
this has been added

[2019-07-10 11:57] #105 closed

[2019-07-10 11:57] sokra commented on #45
fsevents has been removed in version 2

[2019-07-10 11:57] #45 closed

[2019-07-10 14:15] #57 closed

[2019-07-10 14:15] #60 closed

[2019-07-10 14:15] #61 closed

[2019-07-10 18:01] sokra commented on #2
old, ignoring is now possible

[2019-07-10 18:01] #2 closed

[2019-07-10 18:02] sokra commented on #6
this is fixed

[2019-07-10 18:02] #6 closed

[2019-07-10 18:04] sokra commented on #25
old issue

problem is kind of expected behavior

we reduced the startup filesystem accuracy to 1 second which should reduce the problem

[2019-07-10 18:04] #25 closed

[2019-07-10 18:04] sokra commented on #28
I guess the problem is solved

[2019-07-10 18:04] #28 closed

[2019-07-10 18:05] sokra commented on #44
old issue, create a new issue if this is still an issue

[2019-07-10 18:05] #44 closed

[2019-07-10 18:08] sokra commented on #53
closing as it's a duplicate

[2019-07-10 18:08] #53 closed

[2019-07-10 18:08] #82 closed

[2019-07-10 18:09] sokra commented on #95
No that's not an intended feature, as behavior is tightly bound to node.js fs behavior

[2019-07-10 18:09] #95 closed

[2019-07-10 18:17] sokra commented on #98
This seem to be fixed, everything is more stable now and CI has no random failure on master since 2 months...

[2019-07-10 18:17] #98 closed

[2019-07-10 18:47] hrimhari commented on #25
Given the number of people complaining, "expected behavior" seems inappropriate as a classification.

Why not just get rid of FS_ACCURACY?

[2019-07-12 20:27] ProtonScott opened #115 "[Security Vulnerability] watchpack has an insecure dependency"
An npm audit triggered this notification when I updated today:

[code]

[You can check the advisory here](https://npmjs.com/advisories/1012)

In accordance to this, it appears this issue has already been patched.

Can we get a proper update for this pushed out?

Its causing havoc for those of us who are beholden to our bosses who only see the audit output in the CI with no other context 😆

[2019-07-12 20:30] #115 closed

[2019-07-19 08:34] orgertot commented on #25
I still have this issue and this cannot be the expected behavior...

[2019-07-28 14:59] michal-ayash opened #117 "Dependencies (chokidar) Security Vulnerabilities"
This package requires old versions of some packages that require 'set-value' with old version (2.0.0) which has vulnerability issue:
1. 'chokidar'
2. 'anymatch'
3. 'readdirp'

Updating those packages to require the latest versions will resolve the issue.

Thanks,
Michal.

[2019-07-29 09:02] evilebottnawi commented on #117
No `Security Vulnerabilities`, it was bug in npm register with version range, also next version doesn't contain chokidar

[2019-07-29 09:02] #117 closed

[2019-07-31 09:11] msogrin opened #118 "TypeError: DirectoryWatcher is not a constructor"
We have a repeating error appearing when running tests of our application (using jest, if it matters; using the project set up via https://github.com/react-boilerplate/react-boilerplate). Is this error caused by our (or react-boilerplate) misconfiguration somewhere, or it is a problem in watchpack itself?

[code]

[2019-09-17 17:24] lf-evergreen opened #121 "Update NPM version release to most recent stable version."
Currently the version `1.6.0` is published on NPM which contains the `chokidar` package which has vulnerable sub-dependencies (e.g. `braces@2.3.2`, `snapdragon@0.8.2`, etc.). Webpack currently uses this `1.6.0` version of `watchpack` in their `package.json` due to this and is thus installing these vulnerable sub-dependencies.

[2019-09-23 10:49] evilebottnawi commented on #121
It is transitive dependencies, we can't update them directly, please update your lock file and dependencies (latest version is not vulnerable). Also latest version of `watchpack` supports only webpack@5

[2019-09-23 10:49] #121 closed

[2019-09-24 14:51] lf-evergreen commented on #121
@evilebottnawi I would suggest that you perhaps reread what I wrote. It's not about simply about updating transitive dependencies.

[2019-10-09 07:11] angelyaaaaa commented on #118
I got same situation when I doing endpoint test through jest, but I got other error as detail :
`setInterval(...).unref is not a function`

then I found this: [TypeError: timer.unref is not a function](https://github.com/facebook/jest/issues/1909#issuecomment-252981401) which solves my problems.

hope it helps

[2019-10-16 07:29] lscgzwd opened #122 "the version of fsevents@1.2.3 install failed on mac"
node:v12.6.0

npm WARN deprecated fsevents@1.2.3: Way too old

node-pre-gyp ERR! Tried to download(404): https://fsevents-binaries.s3-us-west-2.amazonaws.com/v1.2.3/fse-v1.2.3-node-v72-darwin-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for fsevents@1.2.3 and node@12.6.0 (node-v72 ABI, unknown) (falling back to source compile with node-gyp)

[2019-10-16 11:12] evilebottnawi commented on #122
Network problem, maybe somebody blocked amazon (maybe provider or government), in Russian it is do Roskomnadzor, unfortunately we can't solve this problem, you can try to use VPN or ask `fsevents` add more mirrors

[2019-10-16 11:12] #122 closed

[2019-10-16 16:57] lscgzwd commented on #122
Thanks for you reply, but this maybe not the reason of greatwall, I have downgrade my node to 10.16, then solved.

[2019-10-17 11:30] extempl commented on #117
@evilebottnawi Just to clarify, next version which doesn't use chokidar, fixed all those issues noted here: https://github.com/paulmillr/chokidar#user-content-why ?

[2019-10-19 01:58] arseneyr opened #123 "Directory watching does not work on Windows with forward slashes"
### Steps to reproduce
Run the following sample in an otherwise empty directory on Windows:
[code]
#### Expected result
Should print both `watchpack change!` and `fs change!`
#### Actual result
Only prints `fs change!`

### Additional information
Watchpack version: 1.6.0

This seems to be a result of https://github.com/webpack/watchpack/blob/8d839e8b6edb87f9cd8a1ff97028060c4ecc9bee/lib/DirectoryWa

[2019-10-21 12:18] sokra commented on #123
wait for webpack 5.

[2019-10-21 19:55] #123 closed

[2019-11-02 09:01] paulmillr commented on #117
@extempl no, of course it doesn't fix cases chokidar handles. The watchpack implementation is naïve.

[2019-11-02 09:06] paulmillr opened #130 "Bring back chokidar v3"
We've released Chokidar 3 in April. See my post on that: [Chokidar 3: How to save 32TB of traffic every week with one NPM package](https://paulmillr.com/posts/chokidar-3-save-32tb-of-traffic/)

The changes are pretty big. First of all, the package is 16 times smaller and uses 15 dependencies instead of 201. We've switched to n-api, which means users won't download fsevents binaries anymore. n-api

[2019-11-02 11:22] extempl commented on #117
@paulmillr Hm, why then switch from chokidar to naїve? It will result in chokidar use by end-user with a node-sass-chokidar package (or something similar) and its watcher instead if watchpack.

[2019-11-02 15:11] paulmillr commented on #117
I don’t know, since i’m not a webpack developer.

[2019-11-04 05:10] mattbishop opened #131 "need to update to newer FSEvents for MacOS 15"
This is for version 1.6.0.
Might be a duplicate for #122

[2019-11-05 10:49] evilebottnawi commented on #131
What is problem?

[2019-11-05 17:14] evilebottnawi commented on #130
@paulmillr thanks for issue, we are in beta testing and nobody report about problems, maybe you can provide some examples where we potentially can be broken?

[2019-11-05 17:45] mattbishop commented on #131
I can't install webpack because watchpack failed to build due to fsevents on MacOS 15. Below is a log output:

[code]

This is an fsevents bug, fixed in version 1.2.9: https://github.com/fsevents/fsevents/pull/274

So, please update watch pack to fsevents 1.2.9.

Thanks!

[2019-11-05 17:50] evilebottnawi commented on #131
Just update own deps/lock file

[2019-11-05 18:40] paulmillr commented on #130
CPU & RAM usage in big projects. Did you do any tests for that? Symlink support. Support for every editor and ide e.g atomic writes.

[2019-11-05 19:31] mattbishop commented on #131
Yes, but I was filing this so you can help your other users avoid this in the future. Being part of a well-used project like webpack has some heightened responsibilities, like keeping your dependencies up-to-date.

[2019-11-06 10:32] evilebottnawi commented on #131
@mattbishop so we use `^` for packages in `package.json`, each fresh installation will get new versions, we don't want do release on each patch version of dependencies and transitive dependencies, so update you lock file, you can setup `renovate` or other dependencies bots to keep lock file up to date

[2019-11-06 10:32] #131 closed

[2019-11-06 10:57] evilebottnawi commented on #130
@paulmillr As I said earlier, we are in beta and no reports on very large projects, but i believe you. Maybe you can reproduce problems with the current version and show them?

[2019-11-09 12:37] a-m-dev commented on #28
still not resolved , having the same issue

[2019-11-23 08:41] Evalon commented on #130
There is problem with Node v13 with old chokidar:
https://github.com/fsevents/fsevents/issues/291

[2020-01-07 11:37] guidobouman opened #137 "Update Chokidar to v3 for watchpack@1.x.x"
`watchpack@1.x` causes `chokidar@2.1.8` + `fsevents@1.2.11` to be installed. Which breaks on Windows with `npm ci` installs.

Using `chokidar@3.x` in the `v1.x` branch allows `fsvents@2.x` to be installed, which allows ci installs on Windows to succeed again. With every package update, I now have to manually roll back the `fsevents` update. Yes, I've brought this up with the package owner, but he'

[2020-01-09 10:01] evilebottnawi commented on #137
We can't do it because it is breaking change, what is broken? Can you create reproducible test repo?

[2020-01-09 11:45] guidobouman commented on #137
Would that directly cause a breaking change in the watchpack? I don't see the need for a breaking change in watchpack to update a dependency. Or do I see this wrong?

[2020-01-09 11:53] evilebottnawi commented on #137
@guidobouman webpack@4 support node@6, `chokidar@3.x` require node@8

[2020-01-09 13:07] guidobouman commented on #137
Hmm... You mean Node 6, which has been EOL since april 30, 2019? I get that you want to respect old versions, even if they are EOL. But should a widespread package like webpack not also push ahead the platform as a whole?

Google is decommissioning Node 6 cloud functions on April 22, 2020. And Amazon has deprecated Node 6 for Lambda functions on August 12, 2019:
https://aws.amazon.com/blogs/develo

[2020-01-09 13:14] evilebottnawi commented on #137
@guidobouman yes, but it will be in webpack@5, we can't break support for node@6 projects

[2020-01-09 13:51] guidobouman commented on #137
Fair point. Sorry for pushing beyond reasonable semver logic.

[2020-01-09 13:51] #137 closed

[2020-01-09 13:53] guidobouman commented on #137
Oh, forgot the second part about a reproducible demo, see https://github.com/npm/cli/issues/658.

1. Run npm init in a new directory on a windows machine
1. Install a package with an optional dependency on fsevents, like webpack: npm i webpack
1. Notice a package-lock.json being created with an optional dependency on fsevents@1.2.11
1. Run npm ci, and see the install failing because fsevents in be

[2020-01-19 17:16] cristian-spiescu commented on #61
1) @raf64flo, in my case @jukibom's fix still works. At time of writing I use webpack 4.41.0.
2) I built upon @jukibom's suggestion in order to perform the modification at runtime, via monkeypatching, and have a "less temporary" temporary code:

[code]
This piece of code should execute early, in the start script which ultimately launches webpack. In my case, I use https://github.com/gsoft-inc/crac

[2020-01-30 14:48] zzacharo commented on #46
Hey, I run to a probably similar problem for macos. Running watch in directories that have symlinks don't do anything. The directories to be watched are correct but changing files in that directories doesn't trigger any new build. Could be this related to macos watchers configuration or watchpack/chokidar?

[2020-01-31 14:32] zzacharo opened #141 "DirectoryWatcher doesn't detect changes"
Hello,

I am using watchpack version 1.6 along with webpack 4. Integrating the livereload plugin in my webpack config, files are being watched and rebuilt correctly in linux environment but when I am testing it in `OSX` then changed files don't trigger any rebuilt.

After digging a bit into the code I ended up changing the options that are being passed down to `chokidar` [here](https://github.com/

[2020-01-31 15:20] nkalinov opened #142 "[Yarn2/PnP] Recompilation fails: "Error: Can't open file: No file descriptors available""
I'm trying to migrate our project to Yarn2 using its new PnP resolution mechanism. In watch mode, using webpack-dev-server, whenever I change a file, something screws up.
The initial compilation works fine.

[code]

OS: **OSX**
Node version: tried both **v12.14.1** and latest **v10**
Yarn version: **2.0.0-rc.28**
Related Yarn issue: https://github.com/yarnpkg/berry/issues/849

[2020-01-31 15:28] evilebottnawi commented on #142
/cc @arcanis

[2020-01-31 15:32] arcanis commented on #142
We're looking into that (although I'm not sure how to repro as our own app is fine 🤔)

[2020-01-31 16:00] nkalinov commented on #142
Thanks guys, I'll try to repro by extracting our setup (webpack, babel etc..) in a separate public repo in the next few days if that will help.

[2020-02-19 04:35] liximomo opened #144 "Initial event won't fire if the dir depth is less than 2"
System: MacOS 10.14.6
Version: 2.0.0-beta.12

[code]

[code]

[code]

[2020-02-19 06:12] sokra commented on #144
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-02-19 10:15] liximomo commented on #144
Here is the [repo](https://github.com/liximomo/watchpack-bug) with a small reproducible example.

[2020-02-24 02:45] windhost commented on #118
+1

 TypeError: DirectoryWatcher is not a constructor

      at WatcherManager.Object.<anonymous>.WatcherManager.getDirectoryWatcher (node_modules/watchpack/lib/watcherManager.js:18:33)
      at WatcherManager.watchFile (node_modules/watchpack/lib/watcherManager.js:28:14)
      at Watchpack.<anonymous> (node_modules/watchpack/lib/watchpack.js:38:49)
          at Array.map (<anonymous>)
      at Wa

[2020-03-01 14:11] Ghirigoro commented on #118
Same error here while using Jest and koa-webpack.

[2020-03-19 08:55] l3msh0 opened #149 "npm audit reports vulnerabilities"
`npm audit` reports [vulnerabilities of minimist](https://www.npmjs.com/advisories/1179
) which latest watchpack (1.6.0) depends.

This seems to be because fsevents 1.2.11 has bundledDependency of node-pre-gyp and it includes some versions of vulnerable minimist.

A member of fsevents [says](https://github.com/fsevents/fsevents/issues/301#issuecomment-568077642) 1.x is unsupported  so some action

[2020-03-19 11:34] l3msh0 commented on #149
Solved since fsevents 1.2.12 has been released.

https://github.com/fsevents/fsevents/issues/310

[2020-03-19 11:34] #149 closed

[2020-03-24 08:03] #144 closed

[2020-03-31 22:21] coreyward commented on #130
Can this issue please get some attention? This package is single-handedly holding back adoption of Chokidar (and thus, creating a bunch of issues for macOS Catalina users thanks to fsevents) on every single webpack project. Most users aren't going to realize that watchpack is even to blame because they aren't going lockfile spelunking, but I've been bit by this over and over. I actually typically

[2020-03-31 22:23] coreyward commented on #130
@sokra It looks like you're pretty active on this repo—perhaps you can see some reason w/r/t the above and make this possible?

[2020-04-01 10:12] evilebottnawi commented on #130
@paulmillr Sorry, it is really breaking change and can break some stuff, maybe we can do branch `v3-node6` with supporting node@6 and release it, it is allow to update many stuff and avoid breaking changes, I known it is not good idea, but I can't see other ideas?

[2020-04-01 16:20] paulmillr commented on #130
@evilebottnawi No, we cannot. N-API is only supported since node 8.0. And it was stabilized in node 8.16. That's the whole point. Without it it was not possible to create **fsevents v2** that doesn't host binaries on AWS.

On a side note, the AWS S3 binary hosting account is not controlled by any of fsevents maintainers (pipobscure or me). So it could potentially distribute malware to anyone who d

[2020-04-01 16:48] evilebottnawi commented on #130
@paulmillr We can't do it, we already have `webpack@5` and new version uses `watchpack` without `chokidar`, for webpack@4 it will be big breaking change

[2020-04-01 17:09] paulmillr commented on #130
@evilebottnawi I don't see v5 released. So, you don't really have it. It's in beta. Beta users should know about unstable software. Just bump v4 to v5.

It's either version bump to v5, or keeping insecure dependencies which can totally distribute malware. Even worse: malware on *insecure / unsupported node.js version*, so a vulnerability could appear in node v6, malware would abuse it, and nothing

[2020-04-01 17:16] evilebottnawi commented on #130
webpack@5 is not ready yet to release

Please provide cases as I written above

A lot of projects try webpack@5 and very few problems with watching (they fixed)

[2020-04-01 17:28] paulmillr commented on #130
@evilebottnawi webpack@5 is not ready to release. So, bump v4 to v5 WITHOUT changes, and delay v5 to v6. That's simple. You can do the bump, or you can take responsibility if/when malware would be distributed. There is no third option.

As for "fixed" problems. Does [686 closed chokidar issues during 2012-2019](https://github.com/paulmillr/chokidar/issues?q=is%3Aissue+is%3Aclosed) seem fixed to yo

[2020-04-01 17:35] evilebottnawi commented on #130
No, we have release plan for each verison

This is not very constructive, with this logic, you can argue that any new software is bad initially

[2020-04-01 22:13] coreyward commented on #130
Why not simply release a backwards compatible version of watchpack v1 with chokidar 3?

[2020-04-02 11:28] evilebottnawi commented on #130
@coreyward Because we support node@6 and node@8 in `watchpack`, also it can break code in some cases, because API for `chokidar@2` and `chokidar@3` is difference

[2020-04-07 15:35] evilebottnawi commented on #142
/cc @nkalinov friendly ping

[2020-04-07 15:43] nkalinov commented on #142
Hey, I wasn't able to extract a repro project neither to identify a stable pattern when it happens.
Not sure if you checked the berry issue but there are other people experiencing it too and they provided some info (hopefully helpful): https://github.com/yarnpkg/berry/issues/849

[2020-04-24 23:25] sokra commented on #130
Let's assume we don't care about breaking semver for node@6 since hopefully nobody uses it anyway, or doesn't care about upgrading dependencies and would not upgrade webpack anyway.

Is there any other breaking change in chokidar 2 to 3?

[2020-04-25 00:00] sokra commented on #130
If this is really true and you've lost control over binary hosting you should issue a security advistory and publish a version which points to a new hosting location.

fsevents@1 is still used pretty often: [>450k references in yarn.locks on github](https://github.com/search?q=%22fsevents-1%22+filename%3Ayarn.lock&type=Code)

[2020-04-25 08:12] paulmillr commented on #130
No. I’ve worked hard to ensure there are none. The only one is making “close()” method asynchronous, for which there is patch above.

[2020-05-04 14:14] csvan opened #156 "Incompatible with Node 14"
Installing webpack 4 on a Nodejs 14.1 system (latest stable as of writing this) yields:

`webpack > watchpack > chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.`

Even though I am not sure I see any immediate issues, this should be addressed ASAP. Further, Chokidar3 is much, much smaller than Chokidar2 and would reduce the footprint of webpack a

[2020-05-04 14:16] csvan commented on #130
This should be considered a high priority issue as Nodejs 14 has now been stable for sometime and is explicitly incompatible with Chokidar2:

`webpack > watchpack > chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.`

[2020-05-05 20:49] youcandanch commented on #130
I've been absolutely struggling to get webpack watching on v5 working with a not-too-complex React/Redux app within Docker. It works totally fine on my Linux host, but once it's in a Docker container, it's like flipping a coin to see whether or not events get properly propagated. I'm going to drop a more robust repro case in the Webpack 5 beta thread, but it's worth noting here that I'm concerned

[2020-05-07 14:16] totszwai opened #157 "Please fix fsevents dependency"
In the package-lock.json generated by this watchpack, there is an empty `fsevents` blob.

[code]

And is causing this error in NPM:

angular-cli used to have a similar issue, and they fixed it in their LTS release of v7. Please fix the package in watchpack as well.

[2020-05-07 14:22] totszwai opened #158 "Fix broken package-lock.json generated by watchpack"
In the package-lock.json generated by this watchpack, there is an empty `fsevents` blob.

[code]

And is causing this error in NPM:

angular-cli used to have a similar issue, and they fixed it in their LTS release of v7. Please fix the package in watchpack as well.

[2020-05-07 14:41] evilebottnawi commented on #157
Please report it to npm, we don't generate lock file

[2020-05-07 14:41] #157 closed

[2020-05-07 14:42] evilebottnawi commented on #158
Duplicate

[2020-05-07 14:42] #158 closed

[2020-05-07 22:21] totszwai commented on #158
@evilebottnawi dupe of which ticket?

[2020-05-07 22:26] totszwai commented on #158
fsevents is part of watchpack's dependencies if you look at the lock file I posted.

[2020-05-08 10:27] evilebottnawi commented on #158
We don't generate you lock file

[2020-05-11 08:14] amoerie opened #159 "Update to fsevents 1.2.13"
Would you consider releasing a new patch that includes [the last release of fsevents](https://github.com/fsevents/fsevents/releases/tag/v1.2.13)? In 1.2.13, they claim to have fixed [the issue where "npm ci" on Windows would always try to install fsevents](https://github.com/fsevents/fsevents/issues/301#issuecomment-624307753), causing build errors.

We've had to switch our entire CI to using "npm

[2020-05-11 17:48] dlopuch commented on #159
`fsevents@1.2.13` has lots of native extension compilation errors on Node LTS v12.16.3. It's being brought in through chokidar:

[code]

fsevents 1 has been EOL'd. fsevents 2 is being used by chokidar 3, so bumping the chokidar dependency should do the trick.

As it is now, doing a clean `npm install` with something using watchpack@1.6.1 and LTS node fails with a long output like this:

[code]

[2020-05-12 06:48] amoerie commented on #159
I've read the issue you linked to, and it sounds like there won't be a solution for webpack 4 anymore. Is there any acceptable workaround for this issue that will allow the use of "npm ci" again?

It's insane how unstable the NPM ecosystem is, I've been needing to put out fires left and right every few months since we're using it, and this latest issue doesn't even seem to have a decent workaround

[2020-05-12 20:37] rajivshah3 commented on #159
You can try doing `npm update fsevents --depth X`, but for some reason that silently fails for me. I resorted to editing the shrinkwrap manually 😅  :

[code]

You can get the hash for `integrity` with `npm view fsevents@1.2.13`

[2020-05-15 15:21] amoerie commented on #159
That's not a solution, because npm install overwrites the shrinkwrap or package-lock file each time.
The solution to that is using "npm ci", which is how this issue got started...

[2020-05-15 15:37] rajivshah3 commented on #159
Right, but `npm ci` does not overwrite the shrinkwrap. If you manually edit it as I mentioned and then only use `npm ci, you should be ok. It’s just a workaround but not a complete solution

[2020-05-17 07:56] chenxsan commented on #36
Seems jest will replace `sane` with `chokidar` then https://github.com/facebook/jest/pull/10048

[2020-05-28 19:55] jaylinski commented on #156
Wasn't this fixed in https://github.com/webpack/watchpack/pull/153?

[2020-05-29 12:20] evilebottnawi commented on #156
Yes, fixed

[2020-05-29 12:20] #156 closed

[2020-05-29 12:21] evilebottnawi commented on #156
You need to install latest `chokidar` manually for webpack@4, just run `npm i -D chokidar`

[2020-05-30 21:37] turnerhayes commented on #25
I'm having this issue too and the suggested workarounds don't work. Can you reopen this?

[2020-06-01 21:08] xandris opened #162 "Webpack stops watching subdirectories when the last file in a directory is no longer referenced"
Here's a minimal test case:

https://github.com/xandris/webpack-intermediate-dir-watch-bug

The project is set up like this:

[code]

The entrypoint is `src/entry/index.js`, which imports `src/utils.js`. If during a `--watch` session, `src/entry/index.js` no longer imports `src/utils.js`, I think the refcount on `src/` goes to zero, which closes its watcher and the watcher on `src/entry`. Further

[2020-06-03 08:51] sokra commented on #159
fsevents is in the supported range. You can fix that on your side by updating the lockfile.

[2020-06-03 08:51] #159 closed

[2020-06-04 03:15] DiamondYuan opened #163 "how to mandatory use chokidar2 ?"
[code]

I use webpack in electron@3 . and electron@3 not support chokider3.
If i use webpack, npm will automatic insall watchpack@1.7.2 and chokider3.

Is there a way to make watchpack use only chokidar2?

[2020-06-04 11:13] evilebottnawi commented on #163
We don't install `chokidar@3` by default, you should manually add `chokidar` to `package.json` if you need latest version, bu default we install only `chokidar@2`, check you dependencies again

[2020-06-04 11:13] #163 closed

[2020-06-09 20:35] rtsao commented on #142
I think I've identified a possible workaround: https://github.com/yarnpkg/berry/issues/849#issuecomment-641550874

[2020-06-10 11:00] evilebottnawi commented on #142
@rtsao Can you send a fix?

[2020-06-10 16:49] happypoulp opened #164 "FSEvents "... ERROR: f2d_register_rpc ..." in watchpack 1.6.1 and 1.7.2"
Hello,

I am facing an issue where using webpack-dev-server produces lots of errors like this one:

[code]
 When watchpack was **v1.6.1** I had found a very ugly bypass where I would replace **fsevents@1.2.13** in node_modules/chokidar/node_modules/ by a more recent version of fsevent: **fsevents@2.1.3**. **And somehow this procedure made the errors go away 🎉 .**
_Please note that I had to come do

[2020-06-11 07:43] happypoulp commented on #164
@paulmillr I did not find anything weird in my project (no symlinks, fifos, etc). It's rather classic but a bit heavy (lots of entry points) React application.

@evilebottnawi @paulmillr I did find another ugly solution that may help you pinpoint the issue: Based on the fact that **I had a working solution for watchpack 1.6.1 (which used chokidar 2)** and since that solution was **not working anym

[2020-06-11 11:24] evilebottnawi commented on #164
@alibosworth problems with network, can't be solved on our side

@happypoulp do you use nvm? node version?

[2020-06-11 14:34] happypoulp commented on #164
Yes I use `nvm v0.35.1` and `node v10.13.0` (and I also reproduced the issue with `node v12.18.0`).

[2020-06-11 14:48] evilebottnawi commented on #164
@happypoulp can you try to use native system node (via apt-get)?

[2020-06-11 15:49] happypoulp commented on #164
I just tried it (via a .pkg since I am on MacOs) and it's half a success:
- running webpack dev server in my main repo does not produce FSEvents errors anymore 👍
- But when using `npm link` to test a local dependency in my main repo, FSEvents error are back and when editing files of local dependency, webpack dev server does not detect file change 😞  (it's specifically that "linking & watch issue"

[2020-06-11 16:07] evilebottnawi commented on #164
Why do you use `npm link`? Only for tests?

[2020-06-11 16:26] happypoulp commented on #164
Yes we use it to test the integration of few in-house JS library (like a React UI lib for ex.) in our main application repository (before publishing on npm registry).

[2020-06-11 16:27] evilebottnawi commented on #164
@happypoulp so errors only in tests?

[2020-06-11 16:28] happypoulp commented on #164
Yes only on local developers' machines, not on production.

[2020-06-11 16:30] evilebottnawi commented on #164
Maybe it is related to `link` :thinking: Can you create very minimum reproducible test repo? Need investigate

[2020-06-11 16:33] happypoulp commented on #164
I'd really like to but since it's really related to the number of files being watched, producing a reproducible example with lots of fake files looks like a very difficult task. To be honest, I wouldn't even know where to start given the amount of files, entry points etc I would need to mock. Do you have any experience in how I should approach that?

[2020-06-11 16:44] evilebottnawi commented on #164
@happypoulp just create script what generate same entrypoints and modules with same size and count :smile:

[2020-06-22 05:59] polarathene commented on #130
So the API breakage concern has been alleviated, and the older node deployments hopefully understand the value of semver and lock files. Chances are if they'd run into issues installing packages and need to accommodate for that with more effort anyway and are aware how to do such since there is little reason to be using those versions of Node these days. Trust in them to know how to maintain those

[2020-06-29 18:02] kane-mason opened #165 "Watch Fails on versions > 1.6.1"
Hi,

I recently discovered my webpack watch had stopped working after reinstalling node modules. After a lot of digging i pinned the issue down to this package. Basically when i use any other version of this package > 1.6.1 the watcher does not keep the process alive anymore. There is no error in the console but the `process.on('exit', ` handler fires.

I am using webpacks node api as follows:

[c

[2020-06-30 11:24] evilebottnawi commented on #165
Please create reproducible test repo

[2020-06-30 13:53] kane-mason commented on #165
I have tried to create a reproducible test case but am not winning, and i am unable to share our source code.

I could arrange to have a zoom meeting or such and allow you to walk through the code?

I did some more digging and further narrowed it down to chokidar.. If i delete chokidar v3 and force require chokidar v2 then everything works fine

[2020-06-30 14:00] evilebottnawi commented on #165
Maybe bug in `chokidar`, without reproducible steps I can't help sorry

[2020-06-30 14:02] evilebottnawi commented on #165
No need :+1: please, it is not help, and will be ignored, because it is useless information.

What is the error? Can you provide `package.json`/`package-json.lock`? Any additional information will help

[2020-06-30 14:05] evilebottnawi commented on #165
They are use Windows?

[2020-06-30 14:07] evilebottnawi commented on #165
+ You can put `console.log`/debugger here https://github.com/paulmillr/chokidar/blob/master/index.js#L541 and look on your event

[2020-06-30 19:14] kane-mason commented on #165
nothing logs which i guess means it breaks before emitting anything

[2020-06-30 19:15] kane-mason commented on #165
We use npm and the team is on a combination of mac and windows - the problem exists for both OS's

[2020-06-30 19:39] kane-mason commented on #165
There is no error in the console, the process just exits. The `beforeExit` event is emitted from the `process` which according to the nodejs documentation means there is no more work scheduled and not from conditions causing explicit termination?
[package-lock.zip](https://github.com/webpack/watchpack/files/4854000/package-lock.zip)

[2020-07-01 10:45] evilebottnawi commented on #165
@kane-mason nothing strange, can you try https://github.com/webpack/watchpack/issues/165#issuecomment-651814555? Without reproducible steps I can't help, sorry

[2020-07-01 16:50] kane-mason commented on #165
I did try see [comment](https://github.com/webpack/watchpack/issues/165#issuecomment-651990403)

Will try work more on a reproducible test case. Is there an easy way for us to opt out of using chokidar3?

[2020-07-01 17:47] evilebottnawi commented on #165
We need to fix problem, `chokidar3` fixs more problems

[2020-07-01 17:48] evilebottnawi commented on #165
Please provide full scripts how you run webpack, I think you have problems there

[2020-07-02 07:16] kane-mason commented on #130
#165 FYI our watch is failing silently after updates to use chokidar@3

[2020-07-02 11:25] kane-mason commented on #165
Ok i figured it out.

To cut a very long story short, we had an unmaintaned dependency `gulp-xml2json` which through a series of requires resulted in an old version of `graceful-fs` being required. This version `2.0.3` monkey patches the native `fs` module, and the 'new' `readdir` does not take into account the second `options` parameter which resulted in the callback being confused for this param

[2020-07-02 11:40] evilebottnawi commented on #165
@kane-mason It’s great that we caught this problem. I think we should leave it open to other developers. This is one of many reasons why we want to migrate from `chokidar` to native watch.

Native performance and and compatibility issues must be addressed to `node` side. In long term developers should use native modules without any additional layers. Just my opinion.

[2020-07-02 17:46] osddeitf commented on #130
Can't wait v2.0.0 to be stable, as chokidar@2 still in dependencies:
[code]

[2020-07-02 23:14] paulmillr commented on #130
re: kane-mason's comment — unrelated to chokidar 3, this is related to graceful-fs module which monkey-patches fs and has a long history of similar issues

[2020-07-27 01:39] marcins opened #169 "Watchpack 2.0.0-beta.13 fails on large codebase with "too many open files" error"
With Webpack 4 and Watchpack 1.x we avoided this error by applying a patch to Watchpack to use `sane` instead of `chokidar`, which in combination with Facebook's `watchman` worked for us.

However Webpack 5 + Watchpack 2 uses Node native `fs.watch` which seems to end up in the same "too many open files" issue as we had before with `chokidar`. After a build with Webpack dev server the console just

[2020-07-27 13:14] sokra commented on #169
Which OS? If you are on MacOS, the max file limit it very low by default and we recommend to increase it (watchman does it automatically).

`ulimit -n` prints the current limit.

All the linked issues are closed. Which bugs are you talking about exactly?

[2020-07-27 23:06] marcins commented on #169
Yep, aware of the `ulimit` issue. With Webpack 4 / Watchpack 1 we tried a bunch of stuff to get it working reliably (we had the "" error on our codebase). Eventually switching over to `sane`/`watchman` resolved the issue for us.

I've dug in further by adding additional logging to `watchpack` and it seems that `fs.watch` (and `doScan(true)`) is getting called individually for every directory in th

[2020-07-29 01:19] marcins commented on #169
It's definitely an issue with the way Watchpack installs watchers. When I created a simple test script that'll call `fs.watch` for every directory in our `src` folder without the `recursive` option (like Webpack/Watchpack is doing) I get the same "too many open files" issue:

[code]

[2020-07-29 04:36] marcins commented on #169
OK, here's a repro which fails on macOS (not just my machine, I've tried it with some colleagues) regardless of how high (or low) you set the max open files limit: https://github.com/marcins/webpack-fs-watch-error-repro

[2020-07-29 07:38] sokra commented on #169
Seems like it's using some "other" limit we are not aware of. I also found `launchctl limit maxfiles`, maybe you can try printing that limit.

I think a good solution is to merge watchers to recursive watchers when supported until we stay within a limit of watchers (I think 500 would be fine, so you can technically run 8 processes with watchpack). As it seems like only osx is the problem and it su

[2020-07-29 08:25] marcins commented on #169
`launchctl limit maxfiles` is definitely related to the `ulimit -n` limit.. you can't set `ulimit -n xxx` to something greater than that value - so before setting it to 200k I had to update the `maxfiles` limit. It doesn't seem to have any effect on whatever limit the registration of multiple watchers is hitting though - as you say, there's some other limit at play here. I had a quick look at the

[2020-07-29 08:32] marcins commented on #169
This is interesting, it looks like there was a proposed changed many years ago to implement a single `FSEventStream` and filter in `libuv` however it never got merged: https://github.com/joyent/libuv/pull/894

It also refers to a total limit of `FSEventStream`s on macOS (with not much other detail)

[2020-07-30 20:06] rtsao commented on #142
I could wrap that code in a `if (process.versions.pnp) {` check. Obviously seems unfortunate to have hardcoded workaround for Yarn v2 though.

@arcanis am I correct in that file watchers don't make any sense for virtual paths? They don't actually exist on disk and they are immutable, no?

[2020-08-02 11:15] Hackwar commented on #130
So it's 9 months since the initial report and you are still in beta and the issue is still persisting. We are using it in a rather big project and more or less regularly get reports from others "Hey, your dependencies are outdated and insecure." Please either finally release webpack@5 or follow along with @paulmillr s proposal to do another major release before putting out your latest changes.

[2020-08-02 20:31] polarathene commented on #130
Webpack 5 beta is seeing more adoption in other projects beta support now, like the next.js framework just had a new release with support for Webpack 5 beta as a preview, where they've also been writing new code for future next.js releases that integrates with that beta IIRC, may be starting to get too late to take this major version change.

**EDIT:** Oh, my bad you were talking about a release o

[2020-08-06 13:06] #169 closed

[2020-08-06 13:41] sokra commented on #169
I think I fixed the issue.

I added a merging algorithm which merges watchers into recursive watchers when reaching the watcher limit.

I wrote a test and got the same results as you, only OSX has this limit of watchers. The test passes now with the new algorithm.

[2020-08-08 20:39] merceyz commented on #142
Not exactly, they can point to local workspaces which are mutable

[2020-08-13 02:47] lyonbot opened #171 "chokidar v3 fails on windows, meanwhile v2 works"
Chokidar v3 does not accept back-slashes in path

Watchpack passes paths containing back-slashes to chokidar v3 directly, which makes watcher not work

version: 1.7.4

[2020-08-13 08:49] irudoy commented on #142
Have exactly the same issue after upgrading `webpack` from `4.43.0` to `4.44.1`.
Also, after WDS is failing, seems like `.pnp.js` or `pnpify typescript sdk` is broken (ide can't resolve any modules from typescript files).

Doesn't investigated too much, but seems like there's an issue with `chokidar`, which was updated in `watchpack` `1.7.2`.

Hotfixed by forcing `watchpack` resolution to `1.6.1`

[2020-08-13 10:45] evilebottnawi commented on #171
We don't pass globls to `chokidar`, only absolute paths

[2020-08-13 10:45] #171 closed

[2020-08-13 10:47] evilebottnawi commented on #142
@irudoy Can you provide reproducible test repo>

[2020-08-13 11:03] irudoy commented on #142
@evilebottnawi I'll try later, but not sure if it will be succeeded

[2020-08-13 11:08] evilebottnawi commented on #142
@rtsao maybe screenshot or other examples?

[2020-08-15 11:35] irudoy commented on #142
Unfortunately, I had no luck trying to reduce my project preserving reproducibility.
Every time when I tried to change entries/modules, the issue doesn't reproduce anymore.
Also tried to generate a lot of dummy modules (>100000) simulating a big project, but with no luck.

[2020-08-17 11:52] evilebottnawi commented on #142
@irudoy weird, maybe fixed?

[2020-08-17 12:26] irudoy commented on #142
@evilebottnawi I can still reproduce it on our project in the current state, but not on the reduced one

[2020-08-17 12:32] merceyz commented on #142
You'll most likely need peer dependencies to make it happen, seems to be the virtual files that cause the issue

[2020-08-17 12:36] evilebottnawi commented on #142
@irudoy yep, can you try to update deps and regenerate lock file?

[2020-08-17 13:34] irudoy commented on #142
update deps, rm yarn.lock, install -> still having an issue, unfortunately

[2020-08-17 13:37] evilebottnawi commented on #142
@irudoy Can you record video/screenshots?

[2020-08-17 14:10] irudoy commented on #142
@evilebottnawi https://www.dropbox.com/s/ebxy7k184rn5mvl/watchpack-142.mov?dl=1

[2020-08-17 14:49] evilebottnawi commented on #142
@irudoy weird, ambye you can provide configuration, especial the `resolve` section https://webpack.js.org/configuration/resolve/

[2020-08-17 15:37] irudoy commented on #142
@evilebottnawi

[code]

[2020-08-17 15:43] irudoy commented on #142
<details>
  <summary>Webpack config</summary>

[code]

</details>

[2020-08-17 16:09] evilebottnawi commented on #142
@irudoy Do you use `webpack@4` or `webpack@5`? `PnpWebpackPlugin` has bugs in some rare cases, you can find what our source code for pnp is not the same as in `PnpWebpackPlugin`

[2020-08-17 16:13] irudoy commented on #142
@evilebottnawi webpack 4 for now

[2020-08-17 16:19] evilebottnawi commented on #142
@irudoy Just interesting can you try `webpack@5`? I'm afraid we won't fix it on our side right

[2020-08-18 07:28] irudoy commented on #142
@evilebottnawi got this with `webpack@5`

[code]

not sure that it's related to this issue

[2020-08-18 07:37] irudoy commented on #142
It happens with persistent caching enabled, of course. When caching is disabled, the first-time build succeeds, but file watching is not working. WDS doesn't triggers rebuild after some file has been updated.

[2020-08-18 07:40] merceyz commented on #142
Those methods don't really use file handles but it could be https://github.com/yarnpkg/berry/pull/1577, could you try updating to yarn from sources? `yarn set version from sources --no-minify`

[2020-08-18 08:43] merceyz commented on #142
I'm able to reproduce, i'll make a fix to Yarn and let you know

[2020-08-18 08:57] irudoy commented on #142
Nice 😄 Also, seems like this issue (about `No file descriptors available`) is not reproducing at the latest yarn version (from master)

[2020-08-18 09:17] merceyz commented on #142
Should be fixed in https://github.com/yarnpkg/berry/pull/1709, could you try with `yarn set version from sources --branch 1709`?

[2020-08-18 10:06] evilebottnawi commented on #142
So problem on yarn side, right? It's good that we found them

[2020-08-18 13:16] irudoy commented on #142
@merceyz not throwing anymore, thanks!

[2020-08-18 13:23] evilebottnawi commented on #142
@irudoy Can we close? Solutions - update yarn to latest stable version, I hope `#1709` will be merged in near future

[2020-08-18 13:26] irudoy commented on #142
@evilebottnawi issue doesn't appear using the latest yarn build. So I think it can be closed, thanks!

[2020-08-18 13:27] merceyz commented on #142
@evilebottnawi I only fixed https://github.com/webpack/watchpack/issues/142#issuecomment-675307821, which is unrelated to the original issue.

[2020-08-18 13:35] evilebottnawi commented on #142
@merceyz this does not happen on the latest version https://github.com/webpack/watchpack/issues/142#issuecomment-675353818, so let's close, if somebody faced with the issue again - please update yarn to latest version, if it is not help - feel free to open new issue (preferably with a reproducible version)

[2020-08-18 13:35] #142 closed

[2020-08-18 20:51] LuanGB opened #173 "Watchpack Error (watcher): Error: EMFILE: too many open files"
I'm having an issue with watchpack throwing this error above in a next app when I try to `next dev`.
The screen keeps rolling with the following pattern:
[code]

Any ideia of what I can do to fix it? So far I have tried increasing the open files limit with `ulimit -n 65536` but with no success

[2020-08-19 10:37] evilebottnawi commented on #173
Sorry, you don't provide version/steps/reproducible repo, nothing, please fill out this info and I will reopen the issue

[2020-08-19 10:37] #173 closed

[2020-08-25 09:23] WaveString opened #174 "Does't watch changes with a large codebase"
I am migrating a project from webpack 4 to webpack 5.
The project contains a large code base, most of the files are contained in node_modules. After building in dev mode, webpack does not rebuild to file changes, it does not even give an error.
After a series of experiments on disabling package imports, at some point the watch mode starts working, because there is less code in build.

When `poll:t

[2020-08-25 09:46] evilebottnawi commented on #174
@WaveString What is webpack version? Can you provide more information? Maybe even screenshots/videos/reproducible test repo/something else

[2020-08-25 10:36] WaveString commented on #174
Webpack version: `5.0.0-beta.28`.

I can try creating a repo with empty files, but not sure what will reproduce this behavior.

[2020-08-25 10:38] evilebottnawi commented on #174
@WaveString screenshots/videos?

[2020-08-25 11:29] WaveString commented on #174
With full code base, watch mode is ignored(already built) [full-codebase](https://drive.google.com/file/d/11bURoR4xy8IvgHPA9clZFDSXCLm1RxPG/view)
With half of the import packages removed, watch mode works [half-codebase](https://drive.google.com/file/d/17NZ7i0TNXwlyGf6qXxL_Y31EuURH68hf/view)

[2020-08-25 11:37] evilebottnawi commented on #174
Very weird, can you try it without webpack-dev-server (just `--watch`)? Can you provide list of plugins (or try to disable them step by step)?

[2020-08-25 12:48] WaveString commented on #174
I disabled all plugins, build without `webpack-dev-server`, but it not helps.

I am debugged watchpack a little and found that if the code does not fall into this condition, then the watch mode does not work.
[code]

When built with full codebase `map.size=2698` and `watcherLimit=2000`, when built half codebase `map.size=1262`.

[2020-08-25 13:00] evilebottnawi commented on #174
Can you try to do it `truly` and check?

[2020-08-25 13:10] WaveString commented on #174
I restored all webpack settings, and got these parameters: `map.size=9248`, `watcherLimit=2000`
When I set it truly, I caught a lot of errors `Watchpack Error (watcher): Error: EMFILE: too many open files, watch`

[2020-08-25 13:13] evilebottnawi commented on #174
@WaveString Can you provide `watcherLimit`, `watcherCount` and `map.size` values?

[2020-08-25 13:16] WaveString commented on #174
Yep, `map.size=9248`, `watcherLimit=2000`, `watcherCount=0`.
watcherCount always equals zero.

[2020-08-25 18:18] sokra commented on #174
That seem to be an interesting case. It's not unlikely that there are still bugs in the recursive watching code (it's very new). Without access to a repro it's very difficult to find the bug for us, but maybe you can debug and find the bug yourself. Here is more information about the topic.

* on MacOS there is a hard watcher limit of 4096. We didn't figure out how to change it, so there seem to b

[2020-08-26 16:30] WaveString commented on #174
From what I found:

- Recursive watchers do not work correctly in this case, when codebase is small, compilation uses direct watchers.
- When using recursive watchers, the change event is dispatched not only for the project directories, but in general for the entire file system, such as `/`, `/ Users`,` / Users/evgeny`, `/ Users/evgeny/Projects` are recursively scanned. I get a lot of unnecessary

[2020-08-26 16:32] evilebottnawi commented on #174
Interesting, very interesting, maybe some plugin do it, what is plugins do you use?

[2020-08-27 08:36] WaveString commented on #174
For this case, I created a test repository, these paths are reproduced https://github.com/WaveString/webpack-5-example

<img width="992" alt="Screenshot at Aug 27 15-28-40" src="https://user-images.githubusercontent.com/7781512/91417442-fdcdd280-e87a-11ea-85f7-cfdc878c2bbc.png">

[2020-08-27 23:32] sokra commented on #174
I wasn't able to reproduce the weird paths in your repro. Probably it's a MacOS only issue...

But I found some bugs in the recursive watching code path and fixed them in https://github.com/webpack/watchpack/releases/tag/v2.0.0-beta.15
I can't tell for sure that it fixes your problems, but maybe you can try this release and verify it.
There is also a logging mode enabled with `WATCHPACK_RECURSIVE_

[2020-08-28 08:30] WaveString commented on #174
Thanks, I checked watch mode, it works now! Entire file system is now also not watching as far as I can see.

Now rebuild takes 1 minute. But it seems this is another story.

[2020-08-28 09:06] sokra commented on #174
Try `--progress --profile` for a fast profiling...

[2020-08-28 11:37] evilebottnawi commented on #174
@WaveString How long it was for webpack@4?

[2020-08-28 12:41] sokra commented on #174
@WaveString If you have more info, feel free to open an issue in webpack/webpack. I'll close this issue.

[2020-08-28 12:41] #174 closed

[2020-10-15 11:25] #130 closed

[2020-11-08 03:49] Luxcium commented on #156
I have those warnings:

[code]

I can run «npm i -D chokidar» what if I later, want to use, webpack@{ latest | next }

[2020-11-26 20:43] mrjimenez commented on #173
Here are the steps to reproduce (Linux - Opensuse Tumbleweed):

[code]
The output is
[code]
The repeat pattern is not deterministic.

[2020-11-27 11:39] alexander-akait commented on #173
@mrjimenez please open a new issue, thanks

[2020-11-27 17:01] imagina commented on #25
Same issue here. The only fix for me was to add the plugin: https://github.com/yessky/webpack-mild-compile

[2020-11-28 03:36] mrjimenez opened #181 "Watchpack Error (watcher): Error: EMFILE: too many open files"
Here are the steps to reproduce (Linux - Opensuse Tumbleweed):

[code]
The output is
[code]
The repeat pattern is not deterministic.

[2020-12-03 13:11] alexander-akait commented on #181
Can you try https://stackoverflow.com/questions/8965606/node-and-error-emfile-too-many-open-files/15285359?

[2020-12-03 22:26] echenley opened #182 "Watchpack spends extraordinary amount of time adding/removing watchers on webpack initialization"
### Setup

Mac OS X 10.15.7

| Dependency  | Version |
| ------------- | ------------- |
| `webpack`  | `5.9.0`  |
| `watchpack`  | `2.0.1`  |
| `webpack-dev-middleware` | `4.0.2` |

### What

On upgrading from webpack v4 to v5, I noticed a huge increase in initialization time when running our dev server. Webpack appears to compile everything fairly quickly on the initial pass (~12 seconds without

[2020-12-03 22:38] echenley commented on #182
I believe the root cause of this was that we were using `react-dev-utils/WatchMissingNodeModulesPlugin`, which may not be compatible with webpack v5. Removing the plugin resolves the issue.

[2020-12-03 22:38] #182 closed

[2020-12-05 22:36] mrjimenez commented on #181
Hi,

Unfortunately, I had to do a system update four days ago and the problem is gone.

I am closing the issue.

Regards.

[2020-12-05 22:36] #181 closed

[2020-12-11 00:25] gita-vahdatinia opened #185 "Migration to v2 gives directory path errors"
I upgraded to webpackv5 and the watchpack v2 is now giving incorrect filepaths.

My context is set to `/Users/gita/code/experimental`
I put some output statements in `DirectoryWatcher.js` to see what is being set as the directoryPath and filePath
The inital print statements show the following are first set for DirectoryWatcher and Watcher in the constructor
[code]

And then I get a whole bunch of

[2020-12-11 12:04] alexander-akait commented on #185
Can you create reproducible test repo?

[2020-12-11 21:08] gita-v commented on #185
I tried to reproduce w/ minimal repo but I am having issues -- will continue to try & let you know.

[2020-12-22 01:46] gita-v commented on #185
For this I was still unable to reproduce w/ small repo -- I just did work around by ignoring that path when it doubles

[2020-12-22 12:00] alexander-akait commented on #185
What is os?

[2020-12-22 17:33] gita-v commented on #185
Mac Catalina: 10.15.6

[2020-12-22 17:38] alexander-akait commented on #185
Very weird, don't have ideas, what is wrong :confused: Anyway ideas how we can debug it?

[2020-12-22 20:32] gita-v commented on #185
When the initial directorypath and filepath are set up they are being initialized incorrectly I think, hence the double path that is created. If the filepath is already in directorypath it should begin from that one. Let me try and compare watchpack to the previous version to see what has changed

[2020-12-23 12:23] alexander-akait commented on #185
Feel free to feedback

[2021-01-04 11:04] Philipp91 opened #187 "Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/mnt/c/...'"
I run `webpack --watch --watch-options-stdin ...` and amidst its _initial_ build (not the subsequent builds triggered by changed files), it prints:

[code]

Someone already reported the problem [here](https://github.com/webpack/webpack-dev-server/issues/2809#issue-733791099), so I'll refer to those details for reproduction. Key elements are webpack v5 and WSL1 under Windows.

The directory `/mnt/c

[2021-01-04 13:35] alexander-akait commented on #187
Can you provide structure of your project?

[2021-01-04 13:47] Philipp91 commented on #187
See [here](https://github.com/webpack/webpack-dev-server/issues/2809#issue-733791099).

[2021-01-04 14:22] alexander-akait commented on #187
@Philipp91 Yep, please try to provide, and I will investigate this problem, I think something wrong in plugins/loaders/webpack-dev-server, because we are warning `/mnt/` and it should not happens

[2021-01-04 15:11] Philipp91 commented on #187
[code]

[2021-01-04 15:24] Philipp91 commented on #187
[`compilation.fileDependencies`](https://github.com/webpack/webpack/blob/9395dcd27c6d95d9407320376099cdc4d6c3ab40/lib/Watching.js#L199) contains:

[code]

This may be a new behavior in webpack v5. Is it okay for webpack to tell watchpack to watch all those directories up to the root?

[2021-01-05 12:25] alexander-akait commented on #187
What is cwd when you run `NODE_ENV=development webpack --watch --watch-options-stdin`?

[2021-01-05 18:59] Philipp91 commented on #187
It's `/mnt/c/Users/Philipp/repos/watchpack-reproduce`, I ran it quite exactly as posted above.

[2021-01-06 14:27] sokra commented on #187
It's normal that these directories are watched. The relevant entry is `/mnt/c/Users` which is watched because the `Users` directory could theoretically change to a symlink to some different location. Watchpack always watches to complete directory instead of single files for performance reasons.

So the errors are actually irrelevant for watching these the `Users` directory. It would probably make

[2021-01-06 19:15] Philipp91 commented on #187
Okay that makes sense. I find it a bit complex to implement due to the series of `DirectoryWatcher` instances. Now the instance with `path="/mnt/c"` needs to know that it should suppress all (?) kinds of errors for all (?) files except the `/mnt/c/Users` subdirectory (which this particular watcher instance doesn't know about, or at least doesn't that it's special).

[2021-01-21 13:45] alexander-akait commented on #118
I think we can close it, `DirectoryWatcher is not a constructor` when you doesn't close `webpack-dev-middleware` and still try to use it (you can see it in stack trace)

[2021-01-21 13:45] #118 closed

[2021-02-03 19:25] Aghassi commented on #185
I'm also seeing this issue, and you can reproduce it with this PR https://github.com/bazelbuild/rules_nodejs/pull/2431. Simply remove the line `'/private/**/private/**'` from the `ignored` field under `watchOptions` and it will fail. You can run the example by running `./start.sh` from within the example folder. The use case we are working under is that we need Webpack Dev Server in watch mode to

[2021-02-04 23:12] Aghassi commented on #185
To the above bug that I was seeing, @gregmagolan helped me track it down and we opened #188

[2021-02-07 16:42] sokra commented on #187
Each instances knows which files are watched on this instance. So there is a `/mnt/c` instance where only `Users` is watched. Suppressing the warnings is probably the easy part. More tricky is that someone might start watching `hiberfil.sys` at a later time. In this case we need to show the warning at this later time.

[2021-02-19 15:40] gita-v commented on #185
The merge did not resolve my issue 🤔 Mine is maybe something else

[2021-02-27 05:21] Whoops commented on #187
FWIW I found this thread after running into the same error on Arch Linux. I use pCloud which puts a fuse mount in my home directory and was getting `Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/home/whoops/pCloudDrive'`. Needless to say, my project isn't in that directory and has no dependency on it. After reading this thread and confirming with some `console.log`s sur

[2021-03-06 14:24] DavidDolyak commented on #187
What terminal do you use? I have Windows and I am having the same issue when with wsl. Try to use cmd instead. It worked for me. Good luck.

[2021-03-12 04:40] almost-logical commented on #187
I am having the same problem. I am in a process of migrating from Gatsby v2 to v3. As far as i understand, this has something to do with WSL2. I just hope that Gatsby team will not forget this issue.

[2021-03-18 08:05] andy0130tw opened #189 "Unmet peer dependency "fsevents" in v1.7.5"
Though it is not the latest version, I think it is worth reporting since the latest webpack 4 revision references to it, and there are still so many applications still using webpack 4.

I am using Ubnuntu 18.04. Reproducible on both npm v6 and v7.

When installed with `npm i webpack@^4`, listing the dependencies with `npm ls --depth=100` will show the problem:

[code]

This is because that it depe

[2021-03-18 08:09] andy0130tw commented on #189
You may think, oh okay, I can install one of them manually. The surprise is that, installing `chokidar@3` is not possible if the version already conflicts.

[code]

[2021-03-18 12:13] alexander-akait commented on #189
Yes, you need manually install `chokidar@2`, `chokidar@3` is not supported, please consider migration to v5, won't fix, sorry

[2021-03-18 16:19] andy0130tw commented on #189
Installing `chokidar@2` is not possible (at least on all non-Mac systems) due to the same reason.

Today I delete my `node_modules` and my app suddenly cannot build, and rolling back or re-generating the lock file does not work reliably, either. That makes me wonder why the behavior is like this, or when it starts to fail. I have been porting my app to webpack 5. But as it's only about half of a y

[2021-03-18 16:20] alexander-akait commented on #189
Most of developers can install `chokidar@2`, so this problem is very specific for you

[2021-03-18 16:28] andy0130tw commented on #189
Well, I can try to come up with a minimal reproducible repository. Thanks for your quick response.

[2021-03-30 21:34] jljorgenson18 commented on #187
Also running into this. My watch options are only ignoring node_modules so I'm not sure why this would be happening.

[2021-03-31 20:35] dmondev commented on #187
Plus one running into the same issue with WSL2 + Windows 10.
I have root mounted as / in WSL, so:

Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/c/DumpStack.log.tmp'
Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/c/hiberfil.sys'
Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/c/pagefile.sys'
Watchpack Error (initial s

[2021-04-01 05:56] TravelFiend commented on #187
Plus another, also with WSL2 + Windows 10

Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/mnt/c/DumpStack.log.tmp'
Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/mnt/c/hiberfil.sys'
Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/mnt/c/pagefile.sys'
Watchpack Error (initial scan): Error: EACCES: permission denied, lsta

[2021-04-02 11:46] obipascal commented on #187
Well i also run into the same error. Running windows 10 x64 bit

Watchpack Error (initial scan): Error: UNKNOWN: unknown error, lstat 'C:\$360Section'

[2021-04-02 11:50] alexander-akait commented on #187
`C:$360Section` interesting, can you provide path on your project?

[2021-04-02 11:54] obipascal commented on #187
``js

const path = require("path");

// webpack config
module.exports = {
  // partner area main app entry for
  entry: {
    "App.bspa": "./App.bspa.js",
    "App.Admin": "./App.Admin.js",
  },
  output: {
    filename: "[name].min.js",
    path: path.resolve(__dirname, "www/dist"),
  },
  mode: "development",
  watch: true,
  devtool: "eval-source-map",
  watchOptions: {
    ignored: ["**/node_m

[2021-04-02 11:57] obipascal commented on #187
`C:$360Section` looks like 360 total security dir

[2021-04-02 11:58] alexander-akait commented on #187
@obipascal I mean path to the project, i.e. `C:\\path\to\project` and version of WSL

[2021-04-02 11:59] obipascal commented on #187
`C:\Servers\xampp\htdocs\www\bitmoservice\public`

[2021-04-02 12:00] obipascal commented on #187
![image](https://user-images.githubusercontent.com/30573300/113413783-4d73ff80-9370-11eb-949a-b98ad78d537f.png)
this is the structure of the project dir

[2021-04-12 15:13] darvesh commented on #187
I have this issue on WSL2

[code]

Can reproduce like this
[code]

[2021-04-14 04:00] hypotheses commented on #187
I kind of wonder what watchpack is doing with swapfile.sys or through which part.
Not sure if this help or not, but I started hacking react with 'babel' & 'live-server' running manually via command-line. This works fine.

As the course progress, the instructor introduced webpack, and hence, this problem!

[2021-04-14 07:50] Philipp91 commented on #187
@sokra It seems like you had a particular workaround in mind. It would be great if you could implement and release that. As you say, the errors are harmless. But they don't look like that, and in the face of any (unrelated) issues with Webpack, people will waste lots of time investigating them, and some of the end up here and even take the time to post screenshots and repro-instructions here, whic

[2021-04-14 10:33] alexander-akait commented on #187
/cc @sokra

[2021-04-16 10:05] lightmyfire17 commented on #187
Same here: WSL 2, win 10

[code]

[2021-04-16 21:36] aaronendsley commented on #187
I get this as well in windows 10 wsl 10, after converting to gatsby 3 in my project

[2021-04-16 22:22] lightmyfire17 commented on #187
Okay, finally fixed it. The problem is with the path as already someone said. Your project should not be located at `/mnt/d/...` or somewhere on your windows machine. Instead just make sure you have did this:

1. `cd ~` your path here should be like `user@user` which means `/home/user/` in linux
2. now make git clone/set up project manually

[2021-04-17 16:47] CalinR commented on #187
As @lightmyfire17  said, you should be working in the /home/user/ folder if you are using WSL 2. Windows recommends that and it solves the issue.

You can read more here: https://docs.microsoft.com/en-us/windows/wsl/compare-versions under Performance across OS file systems

[2021-04-20 20:59] gadgetcrawford commented on #187
I get the same errors on WSL2, and I have my files in c:/users/myname/React.  I have been using Webpack-dev-server for ages, and now it breaks.  Anyone have any answers?

[2021-04-21 15:42] ofagbemi opened #190 "Watching a directory doesn't watch nested symlinks when followSymlinks = true"
Here's a repro: https://github.com/ofagbemi/watchpack-symlinks

If I set `followSymlinks: true` and pass a path to a _real_ directory with symlinks nested inside, the symlinked files don't get watched. `followSymlinks` only seems to work if the watched file or a directory itself is a symlink.

[2021-04-26 17:12] kennu commented on #181
I observed this problem in WSL2 with Node.js 12 and 14. It went away after rebooting Windows.

[2021-04-27 12:47] receter commented on #187
I had a similar issue with Windows 10 and WSL 2, moving the project to the Ubuntu filesystem fixed it for me.

This is also recommended from Microsoft as stated above.

So if you have your files in ```C:\Users\YourName\workspace\your-project``` just move it to ```\\wsl$\Ubuntu\home\YourName\workspace\your-project``` and you should be fine. The files can still accessed comfortably from Windows, esp

[2021-04-28 19:14] Philipp91 commented on #187
PhpStorm complains that it can't watch the files. What this might mean is that, after commands like `git checkout` or `npm install` it won't show the latest state in the file system.

Besides that, I'm not even using WSL2 myself because [cross-OS file system performance is worse](https://docs.microsoft.com/en-us/windows/wsl/compare-versions#performance-across-os-file-systems). With WSL1 that's not

[2021-04-30 02:37] gadgetcrawford commented on #187
Ok, I tried putting my file in \\wsl$\Ubuntu\home\YourName\Your-project.  There is no workspace directory.  So I just put my project in YourName.  I see it in my Windows file explorer.  But I cant access it on the command line?

[2021-04-30 05:07] zoeesilcock commented on #187
@gadgetcrawford On the ubuntu command line that path would be `/home/YourName/`.

[2021-04-30 11:48] receter commented on #187
After working a little bit more with this setup I do feel a difference, it’s not ideal. Sometimes syntax highlighting takes a long time to take effect.

[2021-04-30 11:57] alexander-akait commented on #187
I think we can ignore (on code level, so you will not see them) these warning, i.e. all above `context`

[2021-05-13 04:17] chubun opened #193 "Just wonder why app dies on missing 'optionalDependencies'"
My app dies with the following error message:

myapp\node_modules\watchpack\lib\chokidar.js:17
throw new Error(
      ^
Error: No version of chokidar is available. Tried chokidar@2 and chokidar@3.

From package.json:

 "optionalDependencies": {
    "chokidar": "^3.4.1",
    "watchpack-chokidar2": "^2.0.1"
  },

I thought 'optional' means 'can work without'?

[2021-05-13 12:31] alexander-akait commented on #193
You don't have `chokidar`, please run `npm ls chokidar`/`yarn why chokidar`

[2021-05-13 15:54] chubun commented on #193
My question is, is it supposed to happen that something marked as 'optional' can prevent an app from running?  I'm an old school C/C++ programmer.  All these template/configuration based stuff are quite a 'culture shock' to me.

[2021-05-13 16:01] alexander-akait commented on #193
In theory no - https://classic.yarnpkg.com/en/docs/dependency-types/#toc-optionaldependencies

But i real world based on how programmer write the code :smile:

[2021-05-13 16:14] chubun commented on #193
Good to know.  Thanks for the insight.

[2021-05-17 12:25] lietu commented on #187
So for some incredibly rare arbitrary use-case of someone potentially at some point having a minor issue because they might replace a directory with a link at some point, you now watch all the paths above the context and thus cause issues to everyone else except this approx. 0.0001% of potential users?

Maybe do the exact opposite and let that 0.0001% fix the problems they cause by themselves and

[2021-05-20 12:49] AurelienRibon opened #196 "Defining an `ignored` option keeps FileWatchers registered"
## How to reproduce:
Just add a simple plugin to log fileWatchers:
[code]
Then add any filter, like:
[code]
Run the project, it should tell it's watching 0 files initially; then touch any file, and it will output the real number of watched files.

## What's the issue?
With or without `watchOptions.ignored`, the number of FileWatchers is the same, which quickly leads to system bus errors in project

[2021-05-20 12:56] AurelienRibon commented on #196
Note that those bus errors did not happen with Webpack4, which used Watchpack 1.6.x.

[2021-05-20 13:22] AurelienRibon commented on #196
Looking at the Wastchpack source, I'm even more puzzled, as the `ignored` filter seems to be traversed appropriately.
Would it be Webpack that do not forward the watchOptions correctly then? Still investigating.
[code]

[2021-05-20 13:32] boutils commented on #196
I've got the exact same issue on a big project. `node_modules` are not ignored as they should be.

[2021-05-20 18:45] Y-- commented on #196
The issue is actually in Webpack itself: `NodeWatchFileSystem` re-create its own options: https://github.com/webpack/webpack/blob/ad1c80214d30676edcf83cb8f74135646ced9cc8/lib/node/NodeWatchFileSystem.js#L19-L21

[2021-05-21 20:33] AurelienRibon commented on #196
I tried to add a simple `console.log(options)` as the first line of watchpack constructor. And here is what I get:

<img width="444" alt="image" src="https://user-images.githubusercontent.com/1777005/119195062-4cb03d80-ba84-11eb-8763-26646cca21cd.png">

Those are indeed the default options mentioned above, set by `NodeWatchFileSystem`. None of my webpack's `watchOptions` are forwarded to watchpack

[2021-05-22 05:50] ffatheranderson commented on #187
Should I address the same issue?
Please refer to all information about my system as system information report file that is created following instructions here:

[System info reference at nvidia site](https://nvidia.custhelp.com/app/answers/detail/a_id/2507/~/how-to-generate-a-microsoft-system-information-report-%28msinfo32%29)
(also I had to rename it systemInfo.nfo -> systemInfo.txt since this ed

[2021-05-26 23:58] mmcguff commented on #187
I had been using `mnt/c/repos/myapp/` and when I switched to `/home/{User}/repos/myapp`, not only did the error go away with files but the compile time improved substantially.

Aside from the dangers of have to operating systems having access to the same files, the performance benefit is worth noting.

[2021-05-27 00:02] gadgetcrawford commented on #187
Just do what I did.  I completely removed Windows, replaced it with Linux.  No more WSL, no more Microsoft.  I am able to solve most issues, but WSL is not true Linux.  Life is so much easier now. As for Lieutu, It isn't so arbitrary.  You should get your facts straight before you add your input.

[2021-05-28 21:44] ruevaughn commented on #187
This was happening to me. I am using WSL2 and on Windows I have the GUI program Github Desktop installed. Because it likes managing the repo, I had just symlinked it to my WSL2 directory.

To reproduce open up the Terminal which starts in the WSL2 context (I am using WIndows Terminal from the App Store)
You will be as stated in the OS context you installed (Ubuntu, Kali, etc...)

[code]

That is w

[2021-06-01 23:58] taciosd commented on #187
It happens with me, but on Linux (Ubuntu), trying to run Gatsby.

`Watchpack Error (initial scan): Error: EACCES: permission denied, lstat '/media/bitlocker'`

This path `/media/bitlocker` is not accessible to the user and its ok, but watchpack is trying to access it idk why because the project is on another path: `/media/data/workspace/project`.

Gatsby CLI version: 3.6.0
Gatsby version: 3.4.1
No

[2021-06-07 10:13] icecoffee-dev commented on #187
I got the same error too
[code]

## Steps to reproduce

Just followed the Gatsby tutorial guide @ https://www.gatsbyjs.com/docs/tutorial/part-1/

[2021-06-14 20:21] StCyr opened #198 "watchpack-chokidar2 not accessible from watchpack"
When building my project with npm version 7.5.2 there's no problem but when I build my project with npm version 6.14.13 (ubuntu-latest github runner is fails with th error `watchpack-chokidar2 not accessible from watchpack`

I think the error comes from this package but I'm not really sure. Any help appreciated.

Cyrille

[2021-06-14 20:24] StCyr commented on #198
The complete error is:

[code]

[2021-06-15 08:00] StCyr commented on #198
Oups, nevermind. The problem was due to the package-lock.json file being created by npm 7 (and thus in version 2).

Recreating this file using npm 6 fixes the issue

[2021-06-15 08:00] #198 closed

[2021-06-25 03:02] afazzdev commented on #25
i'm experiencing this bug, but with webpack 5. i've try using webpack-mild-compile but no hope. any idea how to resolve this issue?

[2021-07-04 06:39] dbooyah93 commented on #187
I wish I understood this better.

I am having the same issue. Some odd specifics are that:.....
windows 10
VS Code recently updated
Ubuntu 20 with user name dac
User on windows machine dav

It works without issues on my machine at work, however, I was married recently and changed my last name so I made an ubuntu account to reflect that while my windows machine does not have the updated user name.

[2021-07-04 06:40] dbooyah93 commented on #187
Your lack of empathy makes sense until a patron is hit with the realization that this is a thread meant for supporting users.

[2021-07-05 06:39] yessky commented on #25
Could you provide reproduceable demo project? I'd try to fix it recently

[2021-07-07 08:21] yogesh-MS opened #199 "Update chokidar dependency to 3.5.2"
Please update chokidar dependency to 3.5.2  to resolve security issue .
https://snyk.io/test/npm/watchpack-chokidar2/

[2021-07-07 13:56] alexander-akait commented on #199
Please update webpack to v5

[2021-07-20 02:06] dbooyah93 commented on #187
So I kinda have things working. So `npm run watch` is working! However, it is because I navigated by doing `cd ~` `git clone <repo>` `npm install` `npm run watch` however I can't access the location of this file via VS code. For the record, my name on my computer is different from Ubuntu cause I got married, and changed my last name which I crescendoed in my Ubuntu setup. So my windows has `...\us

[2021-07-20 16:13] nick4fake commented on #187
@dbooyah93 is there any fix for this issue?

For many people "simply" moving project is impossible due to various reasons. I also don't quite understand why any program would go through whole directory listing, this is literally something that is against unix way - users don't expect project watcher to iterate through whole hierarchy to list and watch every ancestor.

I can put it in the following

[2021-07-20 16:59] dbooyah93 commented on #187
@nick4fake I am a fairly new developer so I can't speak to what makes sense and what doesn't. The best I could do is in my VS Code terminal (Ubuntu 20) navigate to `~` then `git clone <repo>` then `npm install` and `npm run watch`.

The two problems with this is 1) navigating to this directory seems impossible for VS Code from the "File > Open Folder" option, and 2) updating that directory would r

[2021-07-25 12:57] shivayan-bora commented on #187
I am facing this exact same problem but with the Next.js official documentation tutorial. I am running in WSL2 and by default Next.js uses Webpack 5. I am not sure if this is because of version 5 or not. On running the dev server, it shows this exact same error.

For more details, I have mentioned the issue in this post:
https://github.com/vercel/next.js/issues/27479

[2021-07-27 00:04] TechnoLingua commented on #187
I got this to work by running npm from a PowerShell terminal.  I think that means I have node installed both on Windows and on WSL2, but because it's Node running on windows from a windows command with windows permissions it doesn't provide the error that it can't see files in the parent directory.

So I get something like this: `C:\code\my_project>npm run watch`

[2021-07-28 10:56] jmereardon17 commented on #187
Would like to know a solution as well, I prefer using ubuntu with zsh as my terminal. I am a user who can't move projects under the home/user directory, because my work uses Visual Studio with IIS to build and run ASP.NET MVC based solutions, this is impossible as far as I am aware to run under a linux environment even possibly with reverse-proxies etc.

I am forced to keep my projects under Windo

[2021-07-28 13:33] dbooyah93 commented on #187
This was the answer for me

On Mon, Jul 26, 2021 at 7:04 PM Michael Spackman ***@***.***>
wrote:

[2021-08-01 15:25] shivayan-bora commented on #187
Agreed with @jmereardon17
It is working on Powershell but since WSL2 is gaining some popularity, I think we need to figure out a way to make it work there too. I also prefer ubuntu + zsh as my personal favorite.

[2021-08-02 06:22] sokra commented on #187
It's only a warning and won't affect watching in any way. We want to fix that problem eventually in watchpack, by ignoring these errors for files you are not directly watching.

[2021-08-02 06:32] shivayan-bora commented on #187
The problem is, since Next.js uses this version, it doesn't handle Fast Refresh in Next.js App, because of which we need to stop and restart the servers every time I make any change.

[2021-08-05 14:10] jlowcs commented on #199
Sadly, the last time I tried updating to webpack 5, I was blocked by some plugins that didn't yet support it. So it's not necessarily a viable option at this point.

[2021-08-05 14:11] alexander-akait commented on #199
@jlowcs most of plugins are supported webpack v5, what is the blocker?

[2021-08-05 14:36] jlowcs commented on #199
To be honest I don't quite remember which plugins were a blocker the last time I tried updating, but after having a quick look:
- https://github.com/johnagan/clean-webpack-plugin v4 is currently still in alpha
- https://github.com/waysact/webpack-subresource-integrity v5 is currently still a rc

[2021-08-05 14:38] alexander-akait commented on #199
You don't need this plugin anymore, we have `output.clean` https://github.com/johnagan/clean-webpack-plugin/issues/197

rc should work fine

[2021-08-13 15:27] alertme-edwin commented on #199
@jlowcs It's completely reasonable for you to have other priorities for the next couple of months, don't worry.  There is something that maybe you can clarify about this issue, though.

The initial request was to "update chokidar dependency to 3.5.2", which presumably refers to the dependency from `watchpack@1.7.5` to `watchpack-chokidar2@^2.0.1` to `chokidar@^2.1.8`.  It was then the first commen

[2021-08-13 17:30] jlowcs commented on #199
A patch or minor release of `watchpack` should do the trick yes, since that should still match the semver rule of `webpack`.

[2021-08-23 20:22] RMcNeely commented on #199
I don't know if a minor patch release is something that would be considered for people still relying on Webpack 4 but I've pushed up a new branch that should allow for this to happen in the watchpack-1 branch.

[2021-08-25 11:34] kameikay commented on #187
I've got the same problem (those four errors using WSL2).
Unfortunately, it worked only when I changed the directory.
At '~/' I created a new directory 'project' (e.g.). Then I moved my folder into '~/project' and start my VSCode there.
Now, I'm not getting those errors anymore.

[2021-08-25 11:34] kameikay commented on #187
I've got the same problem (those four errors using WSL2).
Unfortunately, it worked only when I changed the directory.
At '~/' I created a new directory 'project' (e.g.). Then I moved my folder into '/project' and start my VSCode there.

Now, I'm not getting those errors anymore.

[2021-08-25 14:34] osher commented on #187
### Takeout 1:
Not legit to require me to move the project - this is how my customer wants it for their own reasons.

### Takeout 2:
I'm having same issue, only that my WSL is configured to mount `/c/` and not `/mnt/c`.
So assuming the `/mnt` prefix is not legit - it's a user setting.

### Takeout 3:
I understand the need to watch the tree up, I don't understand why you have to list files that are

[2021-09-02 11:55] YungMilky commented on #25
having this issue right now, the solutions don't seem to work (that is if I'm doing them correctly)

[2021-09-07 16:38] dopry commented on #187
I'm am perturbed that the watcher is trying to watch files out of the immediate project tree. I do not expect this and do not want my development tools to access files that are not a part of my project or the development tool itself.

This feels like behaviour that could lead to wider system insecurity ( what happens if a watcher succeeds on my swapfile and a lot of swapping is happening?) does ev

[2021-09-07 16:41] alexander-akait commented on #187
nobody reads your content of files, it is just `lstat` and mostly related to WSL logic and described above why it happens

[2021-09-08 10:17] FerhatPflegia commented on #187
This issue is heavily holding me back at the moment. Is there any progress?

[2021-09-08 12:02] dbooyah93 commented on #187
Can y'all see this email? I have some what of a solution

On Wed, Sep 8, 2021, 05:17 Ferhat Saritas ***@***.***> wrote:

[2021-09-09 00:26] Tenock commented on #187
Hello I have a workaround that doesn't involve migrating into the linux filesystem:

You have to catch the offending files on the DirectoryWatcher.js by dropping them from the scan set. After line 594 on WatchPack module version: 2.2.0 (below the itemPaths Set creation)

[code]
Basically you are catching the files so that the doScan will not try to lstat them on line 653.

This should work as long

[2021-09-24 12:45] altechzilla commented on #169
Hey @sokra, I think the issue is still not fixed in Webpack 5. We described it here: https://github.com/martpie/next-transpile-modules/issues/236

The only thing that helps is setting this in our Next config file:

[code]

The project has thousands of files, possibly crossing 10.000 watched files. Using macOS, Webpack 5, latest Next.js, Next Transpile.

Thank you

[2021-09-28 07:22] wood1986 opened #201 "Try-catch-block in all *Watcher constructors will hide the legit error"
https://github.com/webpack/watchpack/blob/c651129195d84cc80e547a45be38861b5bbada1a/lib/watchEventSource.js#L42-L61

what if line 43 watch an invalid path? Currently, it is hiding a legit error of this bug in enhance-resolve https://github.com/webpack/enhanced-resolve/issues/311

Here is the reproducible repo https://github.com/wood1986/rootplugin-bug
1. yarn
2. yarn start

If you do not patch fs,

[2021-09-30 18:36] wood1986 commented on #201
If I remove the try catch block, I think it will break all the people. I can do this `watcher.on && watcher.on()`. But does it make sense? And I think we should have a warning message

[2021-10-01 09:39] alexander-akait commented on #201
It will be very spammy

[2021-10-01 14:13] alexander-akait commented on #201
But paths are expected, I describe example

[2021-10-03 06:52] #201 closed

[2021-10-06 07:27] MaxIakovliev commented on #187
Same error here:
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **

✔ Compiled successfully.
[code]
✔ Browser application bundle generation complete.

Windows 10, WSL2

[2021-11-16 04:48] pebcakerror commented on #187
After test driving Next.js for the first time today, this issue resulted in long meeting with our corporate security team to make sure some bad actor in the dependency chain didn't just steal a bunch of information.

To take the liberty to go outside the scope like this feels like a trust violation. This wasn't installed as a global npm module. Local should stay local. Or am I misunderstanding Nod

[2021-11-23 23:17] geraldoahnert commented on #187
Same problem. Win 11 and WSL2.

[2021-11-24 08:23] sokra commented on #187
I'll fix the unnecessary warnings, but that won't fix the watching.

Watching in `/mnt/c` won't work correctly. It's the windows filesystem mounted in linux. While that being super slower, its watching is also only partially implemented. Please don't try that. Put your project outside of `/mnt/c`. That's faster and more reliable. (Note that modifying files from windows still won't trigger a watch

[2021-11-24 12:00] geraldoahnert commented on #187
Hey guys. Try:

* Move your project folder to /home/$USER and install node_modules again. It's worked for me.
* Delete your node_modules.
[code]

If don't work install **webpack global** package and try again.

[2021-11-26 18:17] dbooyah93 commented on #187
The path to the executable is incorrect. Either because the executable is
in a non default file or because the path was never set.

There's options in the systems of the Windows computer that you can set
paths towards executables for the WSL. I don't know all the specifics but
this is what I've done in the past to absolve these kind of issues. Sorry I
can't help more.

On Tue, Jul 20, 2021, 11:13

[2021-12-01 07:56] bardsol commented on #25
Having the same issue with webpack 5

[2022-01-15 18:14] TheUniquePaulSmith commented on #187
So, I ran into this issue to because I was dumb and accidently ran `npm next dev` in a command prompt on windows and I think it messed up my webpack watcher?

As others have mentioned, With WSL2 when running a **Git repo** + **node_modules** on a windows filesystem but compiling within the **/mnt/c/*** path with WSL2 is notoriously slow! Because windows filesystem access through WSL2 is not perfor

[2022-03-09 16:23] ryami333 commented on #199
Please would the maintainers of webpack reconsider this issue - switching from Webpack 4 to Webpack 5 is simply not an option for those of us who are experiencing this security vulnerability via a transitive dependency.

In our case, for example, we only have Webpack 4 installed only as a transitive dependency of Storybook. We do not have the option to simply switch from Wepback 4 to 5 because tha

[2022-03-09 16:26] alexander-akait commented on #199
@ryami333 It will be breaking change...

[2022-03-09 16:27] ryami333 commented on #199
Please elaborate

[2022-03-10 13:33] adamisse commented on #187
It worked for me! Tnks bro 👍🏻

[2022-03-15 00:00] meelash opened #214 "Push latest release to npm"
Could we have the npm package updated, please? It is still on 2.0.1 and there are dependencies that require 2.3.1 so installs fail.

(Obviously workaround is to add directly from the repo, but it will be more seamless for users to have npm updated.)

[2022-03-15 10:14] alexander-akait commented on #214
@meelash can you check your register, latest version is published

[2022-05-02 08:05] basuke opened #217 "Watchpack.watch() should not accept `undefined`"
## What happened

Webpack crashes when watch() got a `undefined` as a function. This is a typical example:

[code]

## Source of the issue

Fundamentally it is a bug of the library client, which passes `undefined` to watch(), but watchpack is so popular to be used as part of webpack, it is practical to solve the issue by protecting the function in watch().

[2022-05-02 16:44] basuke commented on #217
I changed my mind with the review of #218 . It should be treated by the client of the library.

[2022-05-02 16:44] #217 closed

[2022-05-05 13:26] mateustormin commented on #187
Nothing here worked for me, my source is within wsl2 filesystem (/home/<user>/git/<project> but still it tries to scan the entire filesystem including /mnt/*, /proc/*

`....
Watchpack Error (initial scan): Error: EACCES: permission denied, scandir '/proc/1/fd'
Watchpack Error (initial scan): Error: EACCES: permission denied, scandir '/proc/1/fdinfo'
Watchpack Error (initial scan): Error: EACCES: p

[2022-05-26 22:58] php4fan opened #219 ""too many open files" errors"
Steps to reproduce:

Create a new Angular project and run ng-serve:
[code]

The console gets inundated with tons of repetitions of this error:
[code]

Bug 169 seems to describe a similar issue, but it's closed.

[2022-06-20 18:47] FBNitro commented on #214
I am also still seeing the latest as 2.0.1, as is npmjs.

https://www.npmjs.com/package/watchpack-chokidar2

 Version Downloads (Last 7 Days)
Tag [2.0.1](https://www.npmjs.com/package/watchpack-chokidar2/v/2.0.1) 7,610,496
latest

[2022-06-20 19:37] #214 closed

[2022-06-20 20:10] meelash commented on #214
Thanks. Sorry for missing the Mar 15 comment.

[2022-06-20 20:10] FBNitro commented on #199
storybook relies on webpack 4 which in turn relies on this.  Even if you use webpack 5 with storybook (I do), it still has the webpack 4 dependencies.

[2022-06-28 09:00] php4fan commented on #169
Why is this closed??

[2022-07-04 11:57] BrunoYamazaki commented on #187
work for me too

[2022-07-27 12:34] JoshBeveridge commented on #25
Popping in here to say that I have a similar problem thanks to trying to manipulate a file Webpack is watching. The only solution that has worked for me was to combine the solution proposed by @fenomas with the information I found in https://github.com/webpack/webpack/issues/7997 by @jods4. By changing the `mtime` of the file in the `invalid` sync hook, the loop seems to be prevented.

[2022-07-27 16:38] marvinthepa opened #221 "Does not work/tests fail on OpenBSD"
On OpenBSD, with both node v16.14.2 and v12.22.6, webpack does not recompile when files are changed.
It used to work when chokidar was used for file watching, i.e. before watchpack 2.

watchpack version: 2.4.0
webpack version: 5.73.0

The tests fail as well (on main branch, dc690bbaea/2.4.0):
[code]

The tests pass for the last watchpack 1 release..

I realize that this is probably an issue with t

[2022-07-27 17:19] alexander-akait commented on #221
@marvinthepa Is `watchpack version: 2.3.6` working fine?

[2022-07-27 18:14] marvinthepa commented on #221
@alexander-akait I did not find a 2.3.6 Version, did you mean 2.3.1?. Tests in Version 2.3.1 fail as well.

I also tried v2.0.0 and v2.0.0-beta.0, where tests also fail. I guess it is safe to assume it fails since 805b66502e43b, which removed the chokidar dependency. Tests work with the previous commit a1f8f3f00e1b2c.

[2022-07-27 19:03] marvinthepa commented on #221
I checked the first test more closely.

It seems that when watching a directory, the change events
* are only ever fired when files appear or disappear
* are always `rename`
* never contain a file name

I guess this worked with chokidar because it does the normalization as described in https://github.com/paulmillr/chokidar#how (to get the file name from the rename event of the directory) and regis

[2022-07-29 11:39] alexander-akait commented on #221
@marvinthepa In long term dev server will not use chokidar too, maybe you want to backport the solution from chokidar?

[2022-07-29 11:44] marvinthepa commented on #221
I could give it a try if I find the time, but it seems to me the problem is a complicated one in which I lack expertise. So I probably would end up copying and pasting a lot of code from chokidar into watchpack, and I do not quite see how this would be an improvement over using chokidar directly..

[2022-07-29 11:47] alexander-akait commented on #221
@marvinthepa chokidar has many perf problems and required a compilation after instalattion (this is not a problem, but happens for wsl and other exotic systems/subsystems)

[2022-07-31 05:26] gnubyte commented on #187
If anyone else encounters this like I did on Windows with WSL, I glanced over watchpack's code tonight and didn't see anything fishy as of 7-30-2022. What I really worry about is Watchpack recursively iterating my drive and sending its results elsewhere. As would anyone when they start to see the code getting access denied to directories that aren't exactly what you asked it to watch.

Its a relat

[2022-08-01 15:10] marvinthepa commented on #221
I had a look through the solutions, and if my (very limited) understanding is correct, fixing this in watchpack would require significant changes. For example, using a watcher per directory is not sufficient, as changes to files do not trigger a change event on the containing directory - you need an extra DirectoryWatcher per file (making it a misnomer), and you have to manage them as well.
I don'

[2022-08-09 01:36] heyimalex opened #222 "watchpack blocks process for a long time while closing FSWatchers on osx"
This is the confluence of a few different things that ultimately leads to watchpack blocking the process for long periods of time on osx.

### 1. `FSWatcher.close` is slow

Closing an `FSWatch` object can take a long time on osx; in a real-world scenario on an intel macbook pro I've seen times as high as 50ms. See [`fswatch-close-slow-repro.js`](https://github.com/heyimalex/watchpack/blob/mac-slow

[2022-08-22 16:59] Banner-Keith opened #223 "Webpack watch stops if one of the output files is busy"
This is the same issue reported in #44

When in watch mode, if a file is busy when attempting to emit to it, watch stops functioning.

[webpack-cli] [Error: EBUSY: resource busy or locked, open '{filepath here}'] {
  errno: -4082,
  code: 'EBUSY',
  syscall: 'open',
  path: '{filepath here}'
}

Steps to reproduce.
run webpack --watch
save a watched file
output to a file which is currently being us

[2022-08-27 12:56] FredLackeyOfficial commented on #187
Suggesting folks move their code from `/mnt/...` to `~` is complete nonsense.  The primary OS in all of these examples is Windows and the rules we use must should put Windows first.  Especially when virtually every tool use (VSCode, etc.) doesn't care that you are running [essentially] an emulator on top of the OS.

The same holds true for anyone trying to excuse the bad behavior of Watchpack / We

[2022-08-29 14:04] alexander-akait commented on #223
Sounds resonable, but I think it is better to create an option to skip these errors/problems (maybe even with `busy: bool | number`), false disable reporting, true - current behaviour, number - count of retries, what do you think?

[2022-08-29 15:56] Banner-Keith commented on #223
That sounds reasonable to me.

[2022-08-29 16:08] alexander-akait commented on #223
Feel free to send a PR :+1:

[2022-09-15 14:11] GeeWee commented on #219
I am also getting similar errors on MacOS M1 - setting ulimit seems to have no effect.

[2022-09-15 14:14] GeeWee commented on #169
This does not seem resolved to me either.

[2022-09-15 20:41] alexander-akait commented on #219
We need more details here, as minimum a structure of a project and watch options